list

In [11]:
# 형변환 함수
num_list = [1,2,3,4]
print('type - ' , type(num_list) , 'casting - ' , bool(num_list))

# if 조건 판단 == TRUE :

print('max - ' , max(num_list))
print('min - ' , min(num_list))
print('sum - ' , sum(num_list))

# mean() 은 numpy 제공 함수이다.

print('mean - ' , sum(num_list) / len(num_list))

type -  <class 'list'> casting -  True
max -  4
min -  1
sum -  10
mean -  2.5

In [18]:
tmp_list01 = [1,2,3]
tmp_list02 = [1,2,3]

print('instance address - ' , id(tmp_list01) , id(tmp_list02) , id(tmp_list03))
print()

print('is 연산자 - 주소값을 비교하는 - ' , tmp_list01 is tmp_list02)
print()

tmp_list03 = tmp_list01
print('is 연산자 - 주소값을 비교하는 - ' , tmp_list01 is tmp_list03)

instance address -  1725963143104 1725962935488 1725963144960

is 연산자 - 주소값을 비교하는 -  False

is 연산자 - 주소값을 비교하는 -  True

In [30]:
from copy import copy
tmp_list04 = copy(tmp_list02)

print('instance address - ' , id(tmp_list02) , id(tmp_list04))
print()

tmp_list04.append('jslim')
print('tmp_list04 append - ' , tmp_list02)
print('tmp_list04 append - ' , tmp_list04)

tmp_list02 is tmp_list04

instance address -  1725962935488 1725963151808

tmp_list04 append -  [1, 2, 3]
tmp_list04 append -  [1, 2, 3, 'jslim']

False

### inner list : [ [ ] , [ ] ]
파이썬의 list in list는 1차원이다.

#### range() : 숫자를 sequence

In [51]:
tmp_range = range(10)
print('type  - ' , type(tmp_range))
print('data  - ' , tmp_range)
print('range - ' , 10 in tmp_range)

for value in tmp_range : 
    print(value , end = '\t')
print()

print(tmp_range[0])
print('indexing - ' , tmp_range[0:5])

type  -  <class 'range'>
data  -  range(0, 10)
range -  False
0	1	2	3	4	5	6	7	8	9
0
indexing -  range(0, 5)

In [5]:
# range(start , end , step)
# range(end)
# range(start , end)
import random

tmp_list = []
for idx in range(1,5) :
    print(idx , end = '\t')
    tmp_list.append(random.randint(1,5))
    
print(tmp_list , end = '\t')
print('sort - ')
tmp_list.sort(reverse = True)
print(tmp_list)

1	2	3	4	[2, 5, 4, 5]	sort -
[5, 5, 4, 2]

In [7]:
print('list 요소를 찾고자 할 때 - in' , 5 in tmp_list)
if 5 in tmp_list :
    print('find')
else :
    print('cannot find')

list 요소를 찾고자 할 때 - in True
find

list Comprehension

In [19]:
tmp_list = [2,4,1,5,3]

''' tmp_list ** 2 불가
    array 가 아닌 vector 기 때문 '''

print ()
for idx in range(len(tmp_list)) :
    print(tmp_list[idx])

print()
tmp_list_sq = []
for idx in range(len(tmp_list)):
    tmp_list_sq.append(tmp_list[idx] ** 2)
print(tmp_list_sq , end ='\t')

2
4
1
5
3

[4, 16, 1, 25, 9]

In [24]:
'''
변수 =  [실행문 for 변수 in 열거형 객체]
변수 =  [실행문 for 변수 in 열거형 객체 if 조건식]
'''

tmp_list_square = [value ** 2 for value in tmp_list]
print(tmp_list_square)
print()
print()
tmp_list_square = [value ** 2 for value in tmp_list if value%3 == 0]
print(tmp_list_square)


result = []
for value in tmp_list :
    calc = value **2 
    if calc%3 == 0 :
        result.append(calc)
print('for + if - result' , calc)

[4, 16, 1, 25, 9]


[9]
for + if - result 9

range() 함수를 이용 1~100 사이 3의 배수
for list Comprehension

In [42]:
tmp_list = []
tmp_list = range(1,101)
for idx in tmp_list :
    if idx % 3 == 0 :
        print(idx , end = ' ')
print()
tmp_list_tr = [value for value in tmp_list if value%3 == 0]
print(tmp_list_tr)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### tuple type
- 선언 : () , tuple()
- 순서 0(indexing , slicing) , 중복 0 , (수정 , 삭제) % immutable
- 읽기 전용

In [63]:
tmp_tuple = (1,2,3,4,5)
print('type     - ' , type(tmp_tuple) , bool(tmp_tuple))
print('data     - ' , tmp_tuple)
print('indexing - ' , tmp_tuple[4])
print('slicing  - ' , tmp_tuple[0:2])


# 수정 불가
# tuple 삭제 및 변환 시 형변환을 할 것

tmp_list = list(tmp_tuple)
print('type - ' , type(tmp_list))
print('data - ' , tmp_list)
tmp_list.append(9)
print('append - ' , tmp_list)
tmp_list.remove(3)
print('remove - ' , tmp_list)

print()
# list -> tuple

tmp_tuple = tuple(tmp_list)
print(tmp_tuple)

type     -  <class 'tuple'> True
data     -  (1, 2, 3, 4, 5)
indexing -  5
slicing  -  (1, 2)
type -  <class 'list'>
data -  [1, 2, 3, 4, 5]
append -  [1, 2, 3, 4, 5, 9]
remove -  [1, 2, 4, 5, 9]

(1, 2, 4, 5, 9)

tuple packing & unpacking

In [67]:
packing = ('하나' , '두나' , '세나' , '네나' , '다나')
packing

('하나', '두나', '세나', '네나', '다나')

In [77]:
a, b, c, d, e = packing

print(a)
print(b)
print(c)
print(d)
print(e)

하나
두나
세나
네나
다나

In [80]:
a, *b , c =packing
print(a, b, c)
# * 사용시 list로 해당 요소 부터 특정 범위까지 출력

하나 ['두나', '세나', '네나'] 다나

In [82]:
def userFunction() :
    num_list = [1,2,3,4,5,6,7]
    
    data_max = max(num_list)
    data_min = min(num_list)
    data_sum = sum(num_list)
    data_avg = sum(num_list) / len(num_list)
    
    return (data_max , data_min , data_sum , data_avg)

In [86]:
data_max , data_min , data_sum , data_avg = userFunction()
print(data_max , data_min , data_sum , data_avg)

7 1 28 4.0

#### dict type
- {} , dict()
- 순서 x , 키 중복 x, 수정과 삭제 O
- 주의사항: 키 값으로 list 혹은 set을 사용시 오류가 발생 -> 불변 타입으로 정의되어야 한다.

In [100]:
# json
tmp_dict = {
    'name'    : 'jslim' ,
    'address' : 'seoul'
}
print('type - ' , type(tmp_dict) , bool(tmp_dict))
print('data - ' , tmp_dict)
print('키 유무 확인 방법' , 'name' in tmp_dict , bool(tmp_dict))
print('키를 통한 데이터 접근' , tmp_dict['name'])
print('키를 통한 데이터 변경 - ')
print()
tmp_dict['name'] = '하나'
print('data - ' , tmp_dict)
print()
tmp_dict['gender'] = 'M'
print('data - ' , tmp_dict)

type -  <class 'dict'> True
data -  {'name': 'jslim', 'address': 'seoul'}
키 유무 확인 방법 True True
키를 통한 데이터 접근 jslim
키를 통한 데이터 변경 -

data -  {'name': '하나', 'address': 'seoul'}

data -  {'name': '하나', 'address': 'seoul', 'gender': 'M'}

In [109]:
tmp_dict = {
    'melon'   : [300 , 20] ,
    'bibibig' : [400 , 20] ,
    'bravo'   : [150 , 10]
}
print(tmp_dict)
print('키를 통한 데이터 추출 - ')
tmp_dict['melon']
melon_list = tmp_dict['melon']
print('type - ' , type(melon_list))
melon_list[0] = int(melon_list[0]*1.1)
print('메로나 가격을 10% 인상한다면? - ' , melon_list , type(melon_list[0]))

{'melon': [300, 20], 'bibibig': [400, 20], 'bravo': [150, 10]}
키를 통한 데이터 추출 -
type -  <class 'list'>
메로나 가격을 10% 인상한다면? -  [330, 20] <class 'int'>

In [138]:
tmp_dict = {
    'melon'   : {'price' : 300 , 'qty' : 20} ,
    'bibibig' : {'price' : 500 , 'qty' : 30} ,
    'bravo'   : [('price' , 150) , ('qty' , 10)]
    
}
print('키를 통한 데이터 추출 - ')

tmp_dict[1] = int(50)
tmp_dict

tmp_dict['melon']['qty'] = int(50)
tmp_dict['melon']['qty']

print()
print('bravo 추출')
bravo_list = tmp_dict['bravo']
print('type - ' , type(bravo_list) , bravo_list , bravo_list[0])
bravo_tuple = bravo_list[0]
print(bravo_tuple)

bravo_price_list = list(bravo_tuple)
bravo_price_list[1] = 1000
bravo_list = tuple(bravo_price_list)

print('type - ' , type(bravo_list) , bravo_list[0] , bravo_list[1])

키를 통한 데이터 추출 -

bravo 추출
type -  <class 'list'> [('price', 150), ('qty', 10)] ('price', 150)
('price', 150)
type -  <class 'tuple'> price 1000

In [153]:
# dict()
tmp_dict = dict(
    city = 'kwangju' ,
    age  = 30
)
print('type - ' , type(tmp_dict['city'][0]) , tmp_dict)
print('key 이용 데이터 추출 - ' , tmp_dict.get(0))
print('key 이용 데이터 추출 - ' , tmp_dict.get('city'))
print('key 이용 데이터 추가 - ' , tmp_dict.update({'job' : 'instructor'}))
print(tmp_dict)
type(tmp_dict['city'])

type -  <class 'str'> {'city': 'kwangju', 'age': 30}
key 이용 데이터 추출 -  None
key 이용 데이터 추출 -  kwangju
key 이용 데이터 추가 -  None
{'city': 'kwangju', 'age': 30, 'job': 'instructor'}

str

## ZIP
중요

In [155]:
keys = ('user01' , 'user02' , 'user03' , 'user04' , 'user05')
data = ('임정섭' , '섭섭해' , '임섭순' , '임재원' , '임재원')

zip_dict = dict(zip(keys, data))
print('type - ' , type(zip_dict) , zip_dict)

type -  <class 'dict'> {'user01': '임정섭', 'user02': '섭섭해', 'user03': '임섭순', 'user04': '임재원', 'user05': '임재원'}

In [156]:
zip_dict = {}
for idx in range(len(keys)) :
    zip_dict.update({keys[idx] : data[idx]})
print('type - ' , type(zip_dict) , zip_dict)

type -  <class 'dict'> {'user01': '임정섭', 'user02': '섭섭해', 'user03': '임섭순', 'user04': '임재원', 'user05': '임재원'}

keys() , values() , items()

In [173]:
for key in zip_dict.keys() :
    print(key , end = '\t')
print()
for value in zip_dict.values() :
    print(value , end = '\t')
print()
for key , value in zip_dict.items() :
    print(key , value , end = '\t')
zip_dict.keys()

user01	user02	user03	user04	user05
임정섭	섭섭해	임섭순	임재원	임재원
user01 임정섭	user02 섭섭해	user03 임섭순	user04 임재원	user05 임재원

dict_keys(['user01', 'user02', 'user03', 'user04', 'user05'])

In [175]:
zip_dict.clear()
zip_dict

{}

set type
- 순서  x , 중복 x
- 선언 : {} , set()
- (indexing , slicing) X

In [177]:
tmp_set = {1}
print('type - ' , type(tmp_set) , tmp_set , bool(tmp_set))

type -  <class 'set'> {1} True

In [180]:
'''
    set에는 값이 한 개 만 존재하기 때문에 , indexing 불가
    set에 데이터를 많이 넣으려면 list를 넣어줘야함
'''
tmp_set = set([1,2,3])
print('type - ' , type(tmp_set) , tmp_set , bool(tmp_set))

type -  <class 'set'> {1, 2, 3} True

집합 - set

교집합
- intersection

합집합
- union 

차집합
- difference

In [184]:
""" 
교집합 &
합집합 |
차집합 -
"""
tmp_set01 = set([1,2,3,4,5,6])
tmp_set02 = set([4,5,6,7,8,9])
print('교집합 - ' , tmp_set01.intersection(tmp_set02))
print('합집합 - ' , tmp_set01.union(tmp_set02))
print('차집합 - ' , tmp_set01.difference(tmp_set02))

교집합 -  {4, 5, 6}
합집합 -  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 -  {1, 2, 3}

In [195]:
gender = ['남자' , '여자' , '여자' , '남자' , '남자']
gender_01 = [gender[0] , gender[1]]

gender_set = set(gender)
print(gender_set)

{'남자', '여자'}

In [237]:
print('단어 빈도 수 구하기')
word_list = ['love' , 'jslim' , 'dog' , 'cat' , 'cat' , 'cat' , 'jslim' , 'lucky' , 'lucky' , 'lucky']

dict_word_list = {
 }

keys = set(word_list)
keys = list(keys)


word_list.defference(keys)

단어 빈도 수 구하기

AttributeError: 'list' object has no attribute 'defference'

In [241]:
word_list = ['love' , 'jslim' , 'dog' , 'cat' , 'cat' , 'cat' , 'jslim' , 'lucky' , 'lucky' , 'lucky']
word_dict = {}
for value in word_list :
    if value in word_dict :
        word_dict[value] = word_dict[value] +1
    else :
        word_dict[value] = 1
print(word_dict)

{'love': 1, 'jslim': 2, 'dog': 1, 'cat': 3, 'lucky': 3}

In [242]:
print()
print('case02 - ')
print()
word_dict = {}
tmp_list = list(set(word_list))
for data in tmp_list : 
    # print(data)
    word_dict.update( {data : word_list.count(data)})
print(word_dict)

case02 -

{'dog': 1, 'love': 1, 'lucky': 3, 'jslim': 2, 'cat': 3}

In [247]:
print()
print('case03 - ')
print()
dict(zip(set(word_list) , [word_list.count(i) for i in set(word_list)] ))

case03 -

{'dog': 1, 'love': 1, 'lucky': 3, 'jslim': 2, 'cat': 3}

In [259]:
print(len('123') , type('123'))
print(len([123]) , type([123]))
print(len({123}) , type({123}))
print(len(('123')) , type(('123')))

3 <class 'str'>
1 <class 'list'>
1 <class 'set'>
3 <class 'str'>

In [283]:
index = 1
while True :
    song = input()
    if song == 'end':
        print(index)
        break
    else :
        index = index +1
        print("<if you want to stop chat 'end'>")

<if you want to stop chat 'end'>
end
2

In [320]:
song = ["Remember when we all got drunk?",
"I ended up with two broke thumbs",
"Oh my God, I felt so dumb, lucky me",
"I wrote a song that no one knows",
"I played a show and no one showed",
"Oh my God, I felt so alone, lucky me",
"When all is going wrong and you're scared as hell",
"What you gonna do? Who you gonna tell?",
"Maybe a hundred bad days made a hundred good stories",
"A hundred good stories make me interesting at parties",
"A hundred bad days made a hundred good stories",
"A hundred good stories make me interesting at parties",
"Yeah, no, I ain't scared of you",
"No, I ain't scared of you no more",
"La-da-da-da-da-da-da-da-da-da-da, da, da",
"La-da-da-da-da-da-da-da-da-da-da, da, da",
"No, I ain't scared of you",
"No, I ain't scared of you no more"]
index = range(0 , len(song))

for value in range(len(song)) :
    print(song[value] , index[value] , end = "\n")

print()
print()
print()

dict_song = dict(zip(set(index) , song))

print(dict_song[1])


print()
print()

dict(dict_song)

Remember when we all got drunk? 0
I ended up with two broke thumbs 1
Oh my God, I felt so dumb, lucky me 2
I wrote a song that no one knows 3
I played a show and no one showed 4
Oh my God, I felt so alone, lucky me 5
When all is going wrong and you're scared as hell 6
What you gonna do? Who you gonna tell? 7
Maybe a hundred bad days made a hundred good stories 8
A hundred good stories make me interesting at parties 9
A hundred bad days made a hundred good stories 10
A hundred good stories make me interesting at parties 11
Yeah, no, I ain't scared of you 12
No, I ain't scared of you no more 13
La-da-da-da-da-da-da-da-da-da-da, da, da 14
La-da-da-da-da-da-da-da-da-da-da, da, da 15
No, I ain't scared of you 16
No, I ain't scared of you no more 17



I ended up with two broke thumbs

{0: 'Remember when we all got drunk?',
 1: 'I ended up with two broke thumbs',
 2: 'Oh my God, I felt so dumb, lucky me',
 3: 'I wrote a song that no one knows',
 4: 'I played a show and no one showed',
 5: 'Oh my God, I felt so alone, lucky me',
 6: "When all is going wrong and you're scared as hell",
 7: 'What you gonna do? Who you gonna tell?',
 8: 'Maybe a hundred bad days made a hundred good stories',
 9: 'A hundred good stories make me interesting at parties',
 10: 'A hundred bad days made a hundred good stories',
 11: 'A hundred good stories make me interesting at parties',
 12: "Yeah, no, I ain't scared of you",
 13: "No, I ain't scared of you no more",
 14: 'La-da-da-da-da-da-da-da-da-da-da, da, da',
 15: 'La-da-da-da-da-da-da-da-da-da-da, da, da',
 16: "No, I ain't scared of you",
 17: "No, I ain't scared of you no more"}