### boolean type

- True | Fasle
- 논리연산자 (not , and , or)
- 비교연산자 (~ , & , |)
- '' , [] , () , {} . 0 , None -> False

In [13]:
a = 5 # 0101
b = 0 # 0000
print('bitwise - ' , a & b)
print('bitwise - ' , a | b)

print('bitwise - ' , bool(a & b))
print('bitwise - ' , bool(a | b))
print('boolean - ' , bool(-1))

print()
tmp_list = []
tmp_str = ''
tmp_dict = {}
print('bool type - ' , bool(tmp_list) , bool(tmp_str) , bool(tmp_dict))

print()
flag = True
tmp_list = [1,2,3]
print('bool type - ' , int(flag) , bool(tmp_list))

bitwise -  0
bitwise -  5
bitwise -  False
bitwise -  True
boolean -  True

bool type -  False False False

bool type -  1 True

In [22]:
print('논리연산자 - and , or , not')
true_flag = True
false_flag = False

print('and - ' , true_flag and false_flag , true_flag & false_flag)
print('or  - '  , true_flag or false_flag , true_flag | false_flag)
print('not - ' , not true_flag )

논리연산자 - and , or , not
and -  False False
or  -  True True
not -  False

### date , datetime type
 - 패키지 설치
 - conda install or pip install
 - import , from ~ import ~ (용어에 대한 이해가 필요)
 - xxxxx.py(module) - 변수 , 함수
 - 여러개의 모듈을 같은 네임스페이스로 관리 - 패키지
 - 함수 < 모듈 < 패키지
 - 형식) import 모듈 이름
 - 형식) from (패키지명, 클래스명)
 - 형식) from 패키지명 import 모듈
 - 형식) from 모듈 import 함수, 클래스

In [31]:
from datetime import date , datetime
# from 패키지 import 모듈

In [45]:
today = date.today()
print('type - ' , type(today) , today)
print('year - ' , today.year , today.month , today.day)

print()
today_time = datetime.today()
print('type - ' , type(today_time) , today_time)
print('year month day - ' , today_time.year , today_time.month , today_time.day)
print('hour minute second - ' , today_time.hour , today_time.minute , today_time.second)

type -  <class 'datetime.date'> 2022-09-26
year -  2022 9 26

type -  <class 'datetime.datetime'> 2022-09-26 10:13:02.613870
year month day -  2022 9 26
hour minute second -  10 13 2

In [53]:
# 날짜에 대한 연산을 도와주는 함수
from datetime import timedelta
from dateutil.relativedelta import relativedelta

In [58]:
days = timedelta(days = 2)

# timedelta 는 day에 대한 연산 작업만 제공

print('type - ' , type(days))
print(today + days)


print()
print()

days   = relativedelta(days     =  2)
months = relativedelta(months   =  2)
years  = relativedelta(years    =  2)

print(today + days , today + months , today + years)

type -  <class 'datetime.timedelta'>
2022-09-28


2022-09-28 2022-11-26 2024-09-26

In [65]:
# 특정 날짜 생성시 문자열 -> 날짜
from dateutil.parser import parse
user_date = parse('2022-09-26')
print('type - ' , type(user_date))

today = datetime.today()
print('type - ' , type(today))

type -  <class 'datetime.datetime'>
type -  <class 'datetime.datetime'>

In [75]:
# 타입 변환을 위한 함수 strftime() , strptime()
str_date  = '2022-09-28'
user_date = datetime.strptime(str_date, '%Y-%m-%d')
print('문자 -> 날짜' , user_date)

print()
print('날짜 -> 문자' , user_date.strftime('%m-%d-%Y') , type(user_date.strftime('%m-%d-%Y')))

문자 -> 날짜 2022-09-28 00:00:00

날짜 -> 문자 09-28-2022 <class 'str'>

#### input 함수

In [78]:
name = input('entrt your name : ')
name
print('type - ' , name , type(name))

entrt your name :
type -   <class 'str'>

In [84]:
score = int(input('enter your score : '))
print('type - ' , score*3 , type(score))

enter your score : 100
type -  300 <class 'int'>

### 제어구문
- if ~
- 중첩 가능
- 블럭 :
- 들여쓰기(indent)
- elif ~ (else if)

In [85]:
score = int(input('점수를 입력하세요 : '))
if score >= 60 :
    print('통과')
else :
    print('과락')

점수를 입력하세요 : 40
과락

In [88]:
score = int(input('점수를 입력하세요 : '))
if   score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print('C')
elif score >= 60 :
    print('D')
else :
    print('F')

점수를 입력하세요 : 80
B

- input 함수를 이용해서 년도를 입력받고 해당 년도가 윤년인지 아닌지를 판단하고 싶다면?

question_day = datetime.strptime(input('년도를 입력하시오 : ' ), '%Y-%m-%d')
days     = realativedelta(years   = 4)
days_100 = realativedelta(days   = 100)
years    = realativedelta(years  = 400)

if ((qusetion_day % days ) == 0) | ((qusetion_day % days_100 ) != 0) | ((qusetion_day % year ) == 0) :
    print('윤년')
else :
    print('윤년 아님')

In [92]:
question_day = int(input('년도를 입력하시오 : ' ))
if ((question_day % 4 ) == 0) & ((question_day % 100 ) != 0) | ((question_day % 400 ) == 0) :
    print('윤년')
else :
    print('윤년 아님')

0

In [103]:
area = ['천안' , '세종' , '대구']
region = str(input('지역 입력 : '))
if region in area :
    print('exist')
else :
    print('{} 지역은 포함되지 않습니다.' .format(region))

지역 입력 : 서울
서울 지역은 포함되지 않습니다.

In [108]:
area = {'천안' , '세종' , '대구'}
region = str(input('지역 입력 : '))
if region in area :
    print('exist')
else :
    print('{} 지역은 포함되지 않습니다.' .format(region))

지역 입력 : ㅇㅁㄴㅇ

- 중첩 구문 사용

### A학점이면서 90 이상의 점수이면 장학금 100%
### A학점이면서 80 이상의 점수이면 장학금 80%
### A학점이면서 80 미만의 점수이면 장학금 70%
### A학점이 아니면 장학금 50%

In [123]:
grade = str(input('학점을 입력 하시오 : '))
score = int(input('점수를 입력 하시오 : '))

if grade == 'A' :
    if   score >= 90 :
        print("장학금 100%")
    elif score >= 80 :
        print("장학금 80%")
    elif score <  80 :
        print("장학금 70%")
else :
    print("장학금 50%")

학점을 입력 하시오 : B
점수를 입력 하시오 : 46
장학금 50%

- 3항 연산자 : if~else 한 줄로 표현 : 변수 = 참 , 조건식 , 거짓

In [131]:
num = 9
result = 0
if num >= 5:
    result = num * 2
else :
    result = num +2

print(result)

print()

result = num * 2 if(num >= 5 ) else num +2

print(result)

18

18

- in , not in

In [155]:
tmp_list  = [10 , 20, 30]
tmp_set   = {40 , 50 , 60 , 70}
tmp_tuple = (10, 12 ,24)
tmp_dict  = {'name' : 'jslim' , 'city' : 'seoul' , 'grade' : 'A'}

print( 40 in tmp_list)
print( 40 not in tmp_list)
print( tmp_list in tmp_list)
print()

print( 40 in tmp_set)
print( 40 not in tmp_set)
print( tmp_set in tmp_set)
print()

print( 40 in tmp_tuple)
print( 40 not in tmp_tuple)
print( tmp_tuple in tmp_tuple)
print()


# dict은 keys와 values를 나누어서 생각해야 한다.
print( 'name' in tmp_dict.keys())
print( 'name' not in tmp_dict.keys())

print()

tmp_dict.values()

print( 'jslim' in tmp_dict.values())
print( 'jslim' not in tmp_dict.values())


# T/F 리턴
# if 조건 사용 가능

False
True
False

True
False
False

False
True
False

True
False

True
False
[10, 20, 30]

# 사용자로부터 하나의 값을 입력받은 후 
# 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 
# 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [154]:
num_01 = int(input("값을 입력하시오 : "))
num_01 = num_01 - 20
if num_01 <= 255 and num_01 >=0 :
    print(num_01)
elif num_01 > 255 :
    print("255")
elif num_01 < 0 :
    print("0")

값을 입력하시오 : 5
0

In [165]:
time_now = str(input("시간을 입력하세요 : "))
if time_now[-2:] == "00" :
    print("정각입니다.")
else :
    print("정각이 아닙니다.")

시간을 입력하세요 : 12:00
정각입니다.

### 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어
### 있는지를 확인하라. 
### 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = ["사과", "포도", "홍시"]

In [170]:
fruit = ["사과", "포도", "홍시"]
word = str(input("과일을 입력하세요 : "))

if word in fruit :
    print("정답입니다.")
else :
    print("오답입니다.")

과일을 입력하세요 : 안녕
오답입니다.

In [175]:
word = str(input("과일을 입력하세요 : "))
input_fruit = '정답입니다.' if (word in fruit) else '오답입니다.'
print(input_fruit)

과일을 입력하세요 :
오답입니다.

In [182]:
# 011 SK , 016 KTF, 019 LGU
# 011-1234-1234
# input 함수를 사용하여 통신사를 판단하는 구문
# 011 sk 016 kt 019 lg u+
phoneNumber = str(input("전화번호를 입력해주세요 : "))
if phoneNumber[:3] == '011':
    print("안녕하세요 SK 텔레콤입니다.")
elif phoneNumber[:3] == '016' :
    print("안녕하세요 kt 입니다.")
elif phoneNumber[:3] == '019' :
    print("안녕하세요 LG U+ 입니다.")
else :
    print("통신사가 존재하지 않습니다")

전화번호를 입력해주세요 : 011-125-5555
안녕하세요 SK 텔레콤입니다.

In [199]:
input_phone = input('전화번호 : ')
print(input_phone.split('-')[0])

brand = input_phone.split('-')[0]
result = "안녕하세요 SK 텔레콤입니다." if(brand == '011') else "안녕하세요 KT 입니다." if(brand == '016') else "안녕하세요 LG U+ 입니다." if(brand == '019') else "존재하지 않는 통신사입니다."
print(result)

전화번호 : 014-4444-4444
014
존재하지 않는 통신사입니다.

- 우편번호는 6자리이고 구성되는데는 
- 예를 들어 서울의 경우 01 로 시작, 구별로 인덱스가 부여된다고 가정하자
- 0 강북구 1 강북구 2 강북구 3 도봉구 4 도봉구 5 도봉구 6 노원구 7 노원구 8 노원구 9 노원구
- 사용자로부터 6자리 우편번호를 입력받고 구를 판별하라.
- 예시 ) 014000이면 도봉구

In [209]:
post_number = int(input("우편번호를 입력하세요 : "))
post_number = str(post_number)

if post_number[2] in ['0' , '1' , '2'] :
    print('강북구')
elif post_number[2] in ['3' , '4' , '5'] :
    print('도봉구')
elif post_number[2] in ['6' , '7' , '8' ,'9'] :
    print('노원구')

우편번호를 입력하세요 : 01312312
강북구

##### 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데
##### 1, 3은 남자 2, 4는 여자를 의미한다. 
##### 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.
##### >> 주민등록번호: 821010-1635210
##### 09 ~ 12	부산

In [219]:
input_sign_num = input("주민번호 13자리를 입력하세요 : ")
sign_num_sex = input_sign_num.split('-')[1][0]
sign_num_area = input_sign_num.split('-')[1][1:3]
sign_num_area = int(sign_num_area)

if   sign_num_sex in ['1' , '3'] :
    if sign_num_area <= 8  :
        print("남자 , 서울 거주")
    elif sign_num_area <= 8 :
        print("남자 , 부산 거주")
    else :
        print("남자 , 기타 지역 거주")
elif sign_num_sex in ['2' , '4'] :
    if sign_num_area <= 8  :
        print("여자 , 서울 거주")
    elif sign_num_area <= 8 :
        print("여자 , 부산 거주")
    else :
        print("여자 , 기타 지역 거주")
else :
    print("잘못 입력하셨습니다.")

주민번호 13자리를 입력하세요 : 821010-1635210
남자 , 기타 지역 거주

#### input()함수를 이용해서 연도와 월을 입력받아
#### 해당년도가 윤년일 경우 2월달의 마지막일은 29 , 평년일경우 2월달의 마지막일은 28
#### 출력의 형식은 : xxxx년 x월 마지막일은 xx일 입니다
#### if 구문으로 작성 또는 if ~ elif

In [235]:
year       = int(input("연도 입력 : "))
month      = int(input("월 입력 : "))
last_day   = None

if int(month) >= 1 and int(month) <= 12 :
    if ((year % 4 ) == 0) and ((year % 100 ) != 0) or ((year % 400 ) == 0) :
        for count in [1,2,3,4,5,6,7,8,9,10,11,12] :
            if  month == count and count in [1,3,5,7,8,10,12] :
                last_day = 31
                break
            elif month == count and count in [4,6,9,11] :
                last_day = 30
                break
            elif month == count and count == 2 :
                last_day = 29
                break
        print("올해는 윤년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
    else :
        for count in [1,2,3,4,5,6,7,8,9,10,11,12] :
            if  month == count and count in [1,3,5,7,8,10,12] :
                last_day = 31
                break
            elif month == count and count in [4,6,9,11] :
                last_day = 30
                break
            elif month == count and count == 2 :
                last_day = 28
                break
        print("올해는 평년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
else :
    print("월을 잘못 입력하셨습니다.")

연도 입력 : 2022
월 입력 : 8
올해는 평년이며 , 2022년 8월 마지막일은 31일 입니다.

In [234]:
question_day = int(input('년도를 입력하시오 : ' ))
if ((year % 4 ) == 0) and ((year % 100 ) != 0) or ((year % 400 ) == 0) :
    print('윤년')
else :
    print('윤년 아님')

년도를 입력하시오 : 2022
윤년

In [241]:
year       = int(input("연도 입력 : "))
month      = int(input("월 입력 : "))
last_day   = None

if int(month) >= 1 and int(month) <= 12 :
    if ((year % 4 ) == 0) and ((year % 100 ) != 0) or ((year % 400 ) == 0) :
        if  month in [1,3,5,7,8,10,12] :
                last_day = 31
        elif month in [4,6,9,11] :
                last_day = 30
        elif month   == 2 :
                last_day = 29
        print("올해는 윤년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
    else :
        if  month  in [1,3,5,7,8,10,12] :
                last_day = 31
        elif month in [4,6,9,11] :
                last_day = 30
        elif month   == 2 :
                last_day = 28
        print("올해는 평년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
else :
    print("월을 잘못 입력하셨습니다.")

연도 입력 : 2000
월 입력 : 02
올해는 윤년이며 , 2000년 2월 마지막일은 29일 입니다.

In [260]:
tmp_dict = {'31' : '1'}
tmp_dict['31']
int(tmp_dict['31'])

1

In [261]:
tmp_dict  = {'name' : 'jslim' , 'city' : 'seoul' , 'grade' : 'A'}
tmp_dict['name']

'jslim'

In [274]:
last_day_dict = {'31' : [1,3,5,7,8,10,12] ,
            '30' : [4,6,9,11] ,
            '29' : [2] ,
            '28' : [2]
           }

연도 입력 : 2022
월 입력 : 4
오류

In [ ]:
year       = int(input("연도 입력 : "))
month      = int(input("월 입력 : "))
last_day   = None

if int(month) >= 1 and int(month) <= 12 :
    if ((year % 4 ) == 0) and ((year % 100 ) != 0) or ((year % 400 ) == 0) :
        if  month in [1,3,5,7,8,10,12] :
                last_day = 31
        elif month in [4,6,9,11] :
                last_day = 30
        elif month   == 2 :
                last_day = 29
        print("올해는 윤년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
    else :
        if  month  in [1,3,5,7,8,10,12] :
                last_day = 31
        elif month in [4,6,9,11] :
                last_day = 30
        elif month   == 2 :
                last_day = 28
        print("올해는 평년이며 , {}년 {}월 마지막일은 {}일 입니다.".format(year , month , last_day))
    
else :
    print("월을 잘못 입력하셨습니다.")

In [275]:
year  = int(input('년도 입력 : ')) 
month = int(input('달 입력 : ')) 

year_months      = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 
leap_year_months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 

if (year%4 == 0) and (year%100 != 0) : 
    print('{} 년 {}월 마지막일은 {}일 입니다'.format(year, month, leap_year_months[month - 1]))
elif (year %400 == 0) : 
    print('{} 년 {}월 마지막일은 {}일 입니다'.format(year, month, leap_year_months[month - 1]))
else : 
    print('{} 년 {}월 마지막일은 {}일 입니다'.format(year, month, year_months[month - 1])  )

년도 입력 : 2022
달 입력 : 4
2022 년 4월 마지막일은 30일 입니다

In [304]:
from datetime import datetime
year  = int(input('년도 입력 : ')) 
month = int(input('달 입력 : ')) 
date = '{}-{}'.format(year, month+1)
date_ym = datetime.strptime(date , '%Y-%m')
days = relativedelta(days = 1)

last_day = date_ym - days
# 다음 달에서 하루 빼면 마지막 일자가 나온다.
last_day = last_day.day

if (year%4 == 0) and (year%100 != 0) : 
    print('{}년은 윤년이며, {}월 마지막일은 {}일 입니다'.format(year, month, last_day))
elif (year %400 == 0) : 
    print('{}년은 윤년이며, {}월 마지막일은 {}일 입니다'.format(year, month, last_day))
else : 
    print('{}년은 평년이며, {}월 마지막일은 {}일 입니다'.format(year, month, last_day))

년도 입력 : 2022
달 입력 : 4
2022년은 평년이며, 4월 마지막일은 30일 입니다

In [301]:
from datetime import datetime
year  = int(input('년도 입력 : ')) 
month = int(input('달 입력 : ')) 
date_ym = datetime.strptime('{}-{}'.format(year, month+1) , '%Y-%m')
last_day = date_ym - relativedelta(days = 1)
last_day = last_day.day

if (year%4 == 0) and (year%100 != 0) : 
    print('{}년은 윤년이며, {}월 마지막일은 {}일 입니다'.format(year, month, last_day))
elif (year %400 == 0) : 
    print('{}년은 평년이며, {}월 마지막일은 {}일 입니다'.format(year, month, last_day))

년도 입력 : 2022
달 입력 : 4
2022년은 윤년이며, 4월 마지막일은 30일 입니다

년도 입력 : 2022
달 입력 : 4