#### 학습목표
- 분석하려는 데이터는 대부분 .csv 파일을 테이블 형식으로 처리할 수 있는 타입
- 제공되는 2 type : Series , DataFrame
- Series : index + value

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

print('numpy version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy version -  1.21.5
pandas version -  1.4.4

In [6]:
def seriesinfo(s) :
    print('index - ' , s.index , type(s.index))
    print('value - ' , s.values , type(s.values))
    print()
    print('data - ')
    print(s)

In [10]:
s = pd.Series([1,2,3,4,5] , dtype = float)
seriesinfo(s)

index -  RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
value -  [1. 2. 3. 4. 5.] <class 'numpy.ndarray'>

data -
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [11]:
s = pd.Series({'a' : 1,'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5} , dtype = float)
seriesinfo(s)

index -  Index(['a', 'b', 'c', 'd', 'e'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [1. 2. 3. 4. 5.] <class 'numpy.ndarray'>

data -
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

- 인덱스의 라벨은 정수 , 문자 , 날짜 , 시간

In [15]:
s = pd.Series([1,2,3,4,5] , index = ['강남' , '서초' , '방배' , '동작' , '신도림']) 
seriesinfo(s)

index -  Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [1 2 3 4 5] <class 'numpy.ndarray'>

data -
강남     1
서초     2
방배     3
동작     4
신도림    5
dtype: int64

- name :시리즈 데이터에 이름을 부여해주는 역할
- index.name : 시리즈 인덱스에 이름을 부여해주는 역할

In [19]:
s.name = '데이터의 이름 부여'
s.index.name = '구 구별'
seriesinfo(s)

index -  Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object', name='구 구별') <class 'pandas.core.indexes.base.Index'>
value -  [1 2 3 4 5] <class 'numpy.ndarray'>

data -
구 구별
강남     1
서초     2
방배     3
동작     4
신도림    5
Name: 데이터의 이름 부여, dtype: int64

In [22]:
tmp_data = ('섭섭해' , '2022-11-10' , '남자' , True)
s = pd.Series(tmp_data , dtype = object , index = ['이름' , '날짜' , '성별' , '결혼'])

seriesinfo(s)

index -  Index(['이름', '날짜', '성별', '결혼'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  ['섭섭해' '2022-11-10' '남자' True] <class 'numpy.ndarray'>

data -
이름           섭섭해
날짜    2022-11-10
성별            남자
결혼          True
dtype: object

- series 에서 원소를 선택하기 위해선?
- 정수형 위치 인덱스 또는 인덱스 이름을 활용해야 한다
- 여러 원소를 선택하려면 리스트를 활용하면 된다.

In [32]:
print('정수 인덱싱 - ' , s[0] , type(s[0]))
print('인덱스 이름 - ' , s['이름'] , type(s['이름']))
print()
print(s[[0,1]])
print(s[['이름' , '날짜']])
print()
print('범위지정 - slicing')
print(s['이름' : '성별'])
print(s[0:3])

정수 인덱싱 -  섭섭해 <class 'str'>
인덱스 이름 -  섭섭해 <class 'str'>

이름           섭섭해
날짜    2022-11-10
dtype: object
이름           섭섭해
날짜    2022-11-10
dtype: object

범위지정 - slicing
이름           섭섭해
날짜    2022-11-10
성별            남자
dtype: object
이름           섭섭해
날짜    2022-11-10
성별            남자
dtype: object

In [37]:
for idx , value in s.items() :
    print('idx : {} , value : {}'.format(idx,value))
print()
for idx in s.keys() :
    print('idx : {}'.format(idx))
print()
for value in s.values :
    print('value : {}'.format(value))

idx : 이름 , value : 섭섭해
idx : 날짜 , value : 2022-11-10
idx : 성별 , value : 남자
idx : 결혼 , value : True

idx : 이름
idx : 날짜
idx : 성별
idx : 결혼

value : 섭섭해
value : 2022-11-10
value : 남자
value : True

In [39]:
s.index

Index(['이름', '날짜', '성별', '결혼'], dtype='object')

In [41]:
s.values

array(['섭섭해', '2022-11-10', '남자', True], dtype=object)

In [42]:
s = pd.Series(range(10,21))
seriesinfo(s)

index -  RangeIndex(start=0, stop=11, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
value -  [10 11 12 13 14 15 16 17 18 19 20] <class 'numpy.ndarray'>

data -
0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [46]:
print('시리즈의 데이터는 배열이므로 벡터화 연산이 가능하다 - ')
s * 20

시리즈의 데이터는 배열이므로 벡터화 연산이 가능하다 -

0     200
1     220
2     240
3     260
4     280
5     300
6     320
7     340
8     360
9     380
10    400
dtype: int64

In [50]:
print('2의 배수인 것만 추출')
print('boolean indexing : s%2 == 0')
s[s%2 == 0]

2의 배수인 것만 추출
boolean indexing : s%2 == 0

0     10
2     12
4     14
6     16
8     18
10    20
dtype: int64

In [52]:
from datetime import date, datetime , timedelta
from dateutil.parser import parse

In [82]:
day = datetime(2022 , 11 , 10)
print(day + timedelta(days=1))

2022-11-11 00:00:00

- 평균이 50이고 편차 5 정규분포 데이터를 10일간 만들고 싶다면 ?
- 중요

In [76]:
np.random.normal(50 , 5 , (10 ,))

array([46.57477405, 59.4368751 , 47.67698661, 47.91236568, 41.50774408,
       50.08764566, 50.71283465, 48.78815311, 48.79192872, 49.81481273])

In [77]:
np.random.normal(50 , 5 , (10 , 1))

array([[46.34495879],
       [47.03932974],
       [53.35922493],
       [50.08834691],
       [47.84602155],
       [50.4639965 ],
       [49.49136102],
       [51.53274354],
       [52.85910903],
       [45.29457627]])

- 날짜 순으로 위의 값이 들어간 series 만들기

- 평균이 50이고 편차가 5인 정규분포 데이터를 10일간 만들고 싶다면?
- 평균이 70이고 편차가 8인 정규분포 데이터를 10일간 만들고 싶다면?

In [86]:
pd.Series(np.random.normal(50 , 5 , (10 ,)) , index = [day+timedelta(days=i) for i in range(10)])

2022-11-10    41.528639
2022-11-11    45.842026
2022-11-12    53.039328
2022-11-13    48.809060
2022-11-14    45.521821
2022-11-15    50.313178
2022-11-16    51.982133
2022-11-17    56.601471
2022-11-18    56.801893
2022-11-19    51.684858
dtype: float64

In [87]:
pd.Series(np.random.normal(70 , 8 , (10 ,)) , index = [day+timedelta(days=i) for i in range(10)])

2022-11-10    61.467209
2022-11-11    77.991140
2022-11-12    63.904730
2022-11-13    77.644890
2022-11-14    58.695180
2022-11-15    61.116349
2022-11-16    73.955033
2022-11-17    71.009513
2022-11-18    64.891277
2022-11-19    73.778578
dtype: float64

- 데이터 갱신

In [93]:
price_series = pd.Series([4000 , 3000 , 3500 , 2000] ,
                        index = ['a' , 'b' , 'c' , 'd'])
seriesinfo(price_series)

index -  Index(['a', 'b', 'c', 'd'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [4000 3000 3500 2000] <class 'numpy.ndarray'>

data -
a    4000
b    3000
c    3500
d    2000
dtype: int64

In [97]:
# 데이터 변경
price_series[0] = 5000
price_series
print()
price_series['a'] = 6000
price_series

a    6000
b    3000
c    3500
d    2000
dtype: int64

- 데이터 삭제
- del

In [104]:
# 데이터 추가
price_series['e'] = 9000
price_series

# 데이터 삭제
del price_series['e']
price_series

a    6000
b    3000
c    3500
d    2000
dtype: int64

In [107]:
# 결측값
price_series['e'] = np.NaN
seriesinfo(price_series)

index -  Index(['a', 'b', 'c', 'd', 'e'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [6000. 3000. 3500. 2000.   nan] <class 'numpy.ndarray'>

data -
a    6000.0
b    3000.0
c    3500.0
d    2000.0
e       NaN
dtype: float64

In [110]:
# 결측값 여부 확인
print('isnull - ')
print()
print(pd.isnull(price_series))
print()
print(price_series[pd.isnull(price_series)]) 
print()
print(price_series[ price_series.isnull()])
print()

# 결측값이 아닌 것 찾기
print('notnull - ')
print(price_series[price_series.notnull()])

isnull -

a    False
b    False
c    False
d    False
e     True
dtype: bool

e   NaN
dtype: float64

e   NaN
dtype: float64

notnull -
a    6000.0
b    3000.0
c    3500.0
d    2000.0
dtype: float64

In [111]:
series01 = pd.Series([400, 250 , 350, 500] , index = ['a' , 'o' , 'k' , 'm'])
series01

a    400
o    250
k    350
m    500
dtype: int64

In [112]:
series02 = pd.Series([401, 251 , 351, 501] , index = ['o' , 'a' , 'h' , 'm'])
series02

o    401
a    251
h    351
m    501
dtype: int64

In [124]:
# series 합치기

series03 = series01 + series02
print(series03)
print()

series03 = series01.add(series02)
print(series03)
print()

# NaN 값 채우기

series03 = series01.add(series02 , fill_value = 0)
print(series03)
print()

# 요소의 개수 세기
print('len() - ' , len(series03))

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

len() -  5

In [141]:
series04 = series01.add(series02)
print(series04)
print()

# 평균 구하기
# 결측값을 제외한 3개 값의 평균
print('mean - ' , np.mean(series03))
print('mean - ' , series03.mean())
print()

# 전체 평균
# 결측값 개수 포함 
print('mean - ' , series04.sum() / len(series04))

# fillna(data)  결측값을 'data'로 대체합니다.
# 값을 다시 담아야지만 저장이 된다.
print('filna() - ' , series04.fillna(0))
series05 = series04.fillna(0)
series05
print()

# series05(결측값에 0을 집어넣은 상태)
# 평균 구하기
print('series05')
print('mean - ' , series05.mean())
print('mean - ' , np.mean(series05))

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

mean -  767.6666666666666
mean -  767.6666666666666

mean -  460.6
filna() -  a     651.0
h       0.0
k       0.0
m    1001.0
o     651.0
dtype: float64

series05
mean -  460.6
mean -  460.6

In [160]:
# 결측값 제외하고 출력하기

print(series03)
print()
print('결측값을 제외한 subset( 추출한 데이터 )')

series05 = series03[pd.notnull(series03)]

print()
print(series05)

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

결측값을 제외한 subset( 추출한 데이터 )

a     651.0
m    1001.0
o     651.0
dtype: float64

### DataFrame
- 생성방법 : pd.DataFrame()
- 행 인덱스(문자), 열 인덱스(문자)

In [165]:
print('dict 이용힌 생성 - ')
dict_data = {
    'feature01' : [1,2,3] ,
    'feature02' : [4,5,6] ,
    'feature03' : [7,8,9] ,
    'feature04' : [10,11,12] ,
    'feature05' : [13,14,15] ,
}
tmp_frm = pd.DataFrame(dict_data)
tmp_frm

dict 이용힌 생성 -

   feature01  feature02  feature03  feature04  feature05
0          1          4          7         10         13
1          2          5          8         11         14
2          3          6          9         12         15

In [185]:
def frminfo(df) :
    print('shape     - ' , df.shape)
    print('size      - ' , df.size)
    print('ndim      - ' , df.ndim )
    print('index     - ' , df.index   , type(df.index))
    print('col index - ' , df.columns , type(df.columns))
    print('values    - ')
    print(df.values  , '\n' , type(df.values))
    print()
    print('data - ')
    display(df)

In [186]:
frminfo(tmp_frm)

shape     -  (3, 5)
size      -  15
ndim      -  2
index     -  RangeIndex(start=0, stop=3, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
col index -  Index(['feature01', 'feature02', 'feature03', 'feature04', 'feature05'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values    -
[[ 1  4  7 10 13]
 [ 2  5  8 11 14]
 [ 3  6  9 12 15]]
 <class 'numpy.ndarray'>

data -

   feature01  feature02  feature03  feature04  feature05
0          1          4          7         10         13
1          2          5          8         11         14
2          3          6          9         12         15

In [193]:
print('리스트를 이용한 생성 - ')
list_frm = pd.DataFrame([['하나' , 'm' , True] , ['두나' , 'w' , False]] ,
                       index = ['user_'+ str(idx) for idx in range(1,3)],
                       columns = ['이름' , '성별' , '결혼여부'])
frminfo(list_frm)
list_frm

리스트를 이용한 생성 -
shape     -  (2, 3)
size      -  6
ndim      -  2
index     -  Index(['user_1', 'user_2'], dtype='object') <class 'pandas.core.indexes.base.Index'>
col index -  Index(['이름', '성별', '결혼여부'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values    -
[['하나' 'm' True]
 ['두나' 'w' False]]
 <class 'numpy.ndarray'>

data -

        이름 성별   결혼여부
user_1  하나  m   True
user_2  두나  w  False

        이름 성별   결혼여부
user_1  하나  m   True
user_2  두나  w  False

In [ ]:
print('전처리 - 열 이름 변경(영문 -> 한글, 한글 -> 영문) , rename() - 열 이름 변경'')
print('원본에 반영 - inplace')

In [199]:
list_frm.rename(columns = {'이름' : 'name' , '성별' : 'gender' , '결혼여부' : 'marriage'} , inplace = True)
list_frm.rename(index = {'user_1' : 'customer_01' , 'user_2' : 'customer_02' } , inplace = True)
list_frm

            name gender  marriage
customer_01   하나      m      True
customer_02   두나      w     False

In [201]:
list_frm.index.name = 'customer'
list_frm.columns.name = 'featuer'
frminfo(list_frm)

shape     -  (2, 3)
size      -  6
ndim      -  2
index     -  Index(['customer_01', 'customer_02'], dtype='object', name='customer') <class 'pandas.core.indexes.base.Index'>
col index -  Index(['name', 'gender', 'marriage'], dtype='object', name='featuer') <class 'pandas.core.indexes.base.Index'>
values    -
[['하나' 'm' True]
 ['두나' 'w' False]]
 <class 'numpy.ndarray'>

data -

featuer     name gender  marriage
customer
customer_01   하나      m      True
customer_02   두나      w     False

In [202]:
frminfo(list_frm)
print()
print()
print('index name - ' , list_frm.index.name)
print('columns name - ' , list_frm.columns.name)

shape     -  (2, 3)
size      -  6
ndim      -  2
index     -  Index(['customer_01', 'customer_02'], dtype='object', name='customer') <class 'pandas.core.indexes.base.Index'>
col index -  Index(['name', 'gender', 'marriage'], dtype='object', name='featuer') <class 'pandas.core.indexes.base.Index'>
values    -
[['하나' 'm' True]
 ['두나' 'w' False]]
 <class 'numpy.ndarray'>

data -

featuer     name gender  marriage
customer
customer_01   하나      m      True
customer_02   두나      w     False

index name -  customer
columns name -  featuer

In [209]:
print('data extract \n' , list_frm['name'] , type(list_frm['name']))

data extract
 customer
customer_01    하나
customer_02    두나
Name: name, dtype: object <class 'pandas.core.series.Series'>

In [216]:
# 컬럼 추가

print('add featuer - ')
list_frm['age'] = [20 , 30]
list_frm

# .insert(loc , columns , value)
list_frm.insert(4 , 'something' , [1,2])

add featuer -

featuer     name gender  marriage  age  something
customer
customer_01   하나      m      True   20          1
customer_02   두나      w     False   30          2

In [219]:
# 컬럼 삭제

print('def feature - ')
del list_frm['age']
print(list_frm)

def feature -
featuer     name gender  marriage  something
customer
customer_01   하나      m      True          1
customer_02   두나      w     False          2

In [221]:
# 컬럼 삭제 : drop
list_frm.drop('something' , axis = 1)

featuer     name gender  marriage
customer
customer_01   하나      m      True
customer_02   두나      w     False

In [240]:
list_frm[0:1]

featuer     name gender  marriage  something
customer
customer_01   하나      m      True          1

In [241]:
list_frm[:'customer_01']

featuer     name gender  marriage  something
customer
customer_01   하나      m      True          1

In [267]:
list_frm[['name' , 'gender']].iloc[:2]

featuer     name gender
customer
customer_01   하나      m
customer_02   두나      w

In [268]:
list_frm['name'][0]

'하나'

### 사이트 
- json 파일 요청시(url) 데이터를 확인할 수 있다.
- 포스트맨
- 스웨거
- kobis ex : https://www.kobis.or.kr/kobisopenapi/homepg/apiservice/searchServiceInfo.doserviceId=searchDailyBoxOffice
- ex url 
http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=20120101

### python 에서 웹을 접속하기위해 필요한 패키지
- import urlib
- json은 한 번 읽어들인후 소모되어지기 때문에 리로드가 필요하다.

In [292]:
import urllib
url='http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=20120101'

response_page = urllib.request.urlopen(url)
print('response - '  )
#print(response_page.read())

response -

In [293]:
res_json = json.loads(response_page.read())
res_json

{'boxOfficeResult': {'boxofficeType': '일별 박스오피스',
  'showRange': '20120101~20120101',
  'dailyBoxOfficeList': [{'rnum': '1',
    'rank': '1',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20112207',
    'movieNm': '미션임파서블:고스트프로토콜',
    'openDt': '2011-12-15',
    'salesAmt': '2776060500',
    'salesShare': '36.3',
    'salesInten': '-415699000',
    'salesChange': '-13',
    'salesAcc': '40541108500',
    'audiCnt': '353274',
    'audiInten': '-60106',
    'audiChange': '-14.5',
    'audiAcc': '5328435',
    'scrnCnt': '697',
    'showCnt': '3223'},
   {'rnum': '2',
    'rank': '2',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20110295',
    'movieNm': '마이 웨이',
    'openDt': '2011-12-21',
    'salesAmt': '1189058500',
    'salesShare': '15.6',
    'salesInten': '-105894500',
    'salesChange': '-8.2',
    'salesAcc': '13002897500',
    'audiCnt': '153501',
    'audiInten': '-16465',
    'audiChange': '-9.7',
    'audiAcc': '1739543',
    'scrnCnt': '588',
    'showCnt': '2321'},
   {'rnum': '3',
    'rank': '3',
    'rankInten': '-1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20112621',
    'movieNm': '셜록홈즈 : 그림자 게임',
    'openDt': '2011-12-21',
    'salesAmt': '1176022500',
    'salesShare': '15.4',
    'salesInten': '-210328500',
    'salesChange': '-15.2',
    'salesAcc': '10678327500',
    'audiCnt': '153004',
    'audiInten': '-31283',
    'audiChange': '-17',
    'audiAcc': '1442861',
    'scrnCnt': '360',
    'showCnt': '1832'},
   {'rnum': '4',
    'rank': '4',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20113260',
    'movieNm': '퍼펙트 게임',
    'openDt': '2011-12-21',
    'salesAmt': '644532000',
    'salesShare': '8.4',
    'salesInten': '-75116500',
    'salesChange': '-10.4',
    'salesAcc': '6640940000',
    'audiCnt': '83644',
    'audiInten': '-12225',
    'audiChange': '-12.8',
    'audiAcc': '895416',
    'scrnCnt': '396',
    'showCnt': '1364'},
   {'rnum': '5',
    'rank': '5',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20113271',
    'movieNm': '프렌즈: 몬스터섬의비밀 ',
    'openDt': '2011-12-29',
    'salesAmt': '436753500',
    'salesShare': '5.7',
    'salesInten': '-89051000',
    'salesChange': '-16.9',
    'salesAcc': '1523037000',
    'audiCnt': '55092',
    'audiInten': '-15568',
    'audiChange': '-22',
    'audiAcc': '202909',
    'scrnCnt': '290',
    'showCnt': '838'},
   {'rnum': '6',
    'rank': '6',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'movieCd': '19940256',
    'movieNm': '라이온 킹',
    'openDt': '1994-07-02',
    'salesAmt': '507115500',
    'salesShare': '6.6',
    'salesInten': '-114593500',
    'salesChange': '-18.4',
    'salesAcc': '1841625000',
    'audiCnt': '45750',
    'audiInten': '-11699',
    'audiChange': '-20.4',
    'audiAcc': '171285',
    'scrnCnt': '244',
    'showCnt': '895'},
   {'rnum': '7',
    'rank': '7',
    'rankInten': '-1',
    'rankOldAndNew': 'OLD',
    'movieCd': '20113381',
    'movieNm': '오싹한 연애',
    'openDt': '2011-12-01',
    'salesAmt': '344871000',
    'salesShare': '4.5',
    'salesInten': '-107005500',
    'salesChange': '-23.7',
    'salesAcc': '20634684500',
    'audiCnt': '45062',
    'audiInten': '-15926',
    'audiChange': '-26.1',
    'audiAcc': '2823060',
    'scrnCnt': '243',
    'showCnt': '839'},
   {'rnum': '8',
    'rank': '8',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20112709',
    'movieNm': '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」',
    'openDt': '2011-12-22',
    'salesAmt': '167809500',
    'salesShare': '2.2',
    'salesInten': '-45900500',
    'salesChange': '-21.5',
    'salesAcc': '1897120000',
    'audiCnt': '24202',
    'audiInten': '-7756',
    'audiChange': '-24.3',
    'audiAcc': '285959',
    'scrnCnt': '186',
    'showCnt': '348'},
   {'rnum': '9',
    'rank': '9',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20113311',
    'movieNm': '앨빈과 슈퍼밴드3',
    'openDt': '2011-12-15',
    'salesAmt': '137030000',
    'salesShare': '1.8',
    'salesInten': '-35408000',
    'salesChange': '-20.5',
    'salesAcc': '3416675000',
    'audiCnt': '19729',
    'audiInten': '-6461',
    'audiChange': '-24.7',
    'audiAcc': '516289',
    'scrnCnt': '169',
    'showCnt': '359'},
   {'rnum': '10',
    'rank': '10',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'movieCd': '20112708',
    'movieNm': '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」',
    'openDt': '2011-12-22',
    'salesAmt': '125535500',
    'salesShare': '1.6',
    'salesInten': '-40756000',
    'salesChange': '-24.5',
    'salesAcc': '1595695000',
    'audiCnt': '17817',
    'audiInten': '-6554',
    'audiChange': '-26.9',
    'audiAcc': '235070',
    'scrnCnt': '175',
    'showCnt': '291'}]}}

In [308]:
data = res_json['boxOfficeResult']['dailyBoxOfficeList']
df = pd.DataFrame(data)[['rank' , 'movieNm' ,'salesAmt']]
df

  rank                              movieNm    salesAmt
0    1                       미션임파서블:고스트프로토콜  2776060500
1    2                                마이 웨이  1189058500
2    3                        셜록홈즈 : 그림자 게임  1176022500
3    4                               퍼펙트 게임   644532000
4    5                        프렌즈: 몬스터섬의비밀    436753500
5    6                                라이온 킹   507115500
6    7                               오싹한 연애   344871000
7    8   극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」   167809500
8    9                            앨빈과 슈퍼밴드3   137030000
9   10  극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」   125535500

In [315]:
lst = []
for tmp_dict in data :
    lst.append([tmp_dict['rnum'] , tmp_dict['movieNm'] , tmp_dict['salesAmt']])
    
df = pd.DataFrame(lst , columns = ['rnum', 'movieNm' , 'salesAmt'])
frminfo(df)

shape     -  (10, 3)
size      -  30
ndim      -  2
index     -  RangeIndex(start=0, stop=10, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
col index -  Index(['rnum', 'movieNm', 'salesAmt'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values    -
[['1' '미션임파서블:고스트프로토콜' '2776060500']
 ['2' '마이 웨이' '1189058500']
 ['3' '셜록홈즈 : 그림자 게임' '1176022500']
 ['4' '퍼펙트 게임' '644532000']
 ['5' '프렌즈: 몬스터섬의비밀 ' '436753500']
 ['6' '라이온 킹' '507115500']
 ['7' '오싹한 연애' '344871000']
 ['8' '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」' '167809500']
 ['9' '앨빈과 슈퍼밴드3' '137030000']
 ['10' '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」' '125535500']]
 <class 'numpy.ndarray'>

data -

  rnum                              movieNm    salesAmt
0    1                       미션임파서블:고스트프로토콜  2776060500
1    2                                마이 웨이  1189058500
2    3                        셜록홈즈 : 그림자 게임  1176022500
3    4                               퍼펙트 게임   644532000
4    5                        프렌즈: 몬스터섬의비밀    436753500
5    6                                라이온 킹   507115500
6    7                               오싹한 연애   344871000
7    8   극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」   167809500
8    9                            앨빈과 슈퍼밴드3   137030000
9   10  극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」   125535500

문) 다음 조건을 만족하는 임의의 데이터 프레임을 작성해보자
- 조건 ) 열의 개수와 행의 개수가 각각 5개 이상이어야 한다.
- 조건 ) 열에는 정수, 문자 , 실수 , 날짜  데이터가 각각 1개 이상 포함이 되어야한다.

문2) 제공된 파일로부터 데이터를 읽어들여서 데이터 프레임을 작성해보자
- hint) open() , json.load()
- json.loads : json으로 된 문자열 파일을 읽어들일때
- json.load() : json 파일을 읽어들일때

In [343]:
dict_data = {
    'data_01' : ['하나' , 1 , 3.14 , datetime(2022 , 11 , 10) , '첫째'] ,
    'data_02' : ['두나' , 2 , 4.24 , datetime(2022 , 11 , 11) , '둘째'] ,
    'data_03' : ['세나' , 3 , 5.34 , datetime(2022 , 11 , 12) , '셋째'] ,
    'data_04' : ['네나' , 4 , 6.44 , datetime(2022 , 11 , 13) , '넷째' ],
    'data_05' : ['다나' , 5 , 7.54 , datetime(2022 , 11 , 14) , '다섯째'] ,
}
pb_01_df = pd.DataFrame(dict_data , index = ['이름' , '번호' , '코드' , '날짜' , '형제'])
pb_01_df

,data_01,data_02,data_03,data_04,data_05
이름,하나,두나,세나,네나,다나
번호,1,2,3,4,5
코드,3.14,4.24,5.34,6.44,7.54
날짜,2022-11-10 00:00:00,2022-11-11 00:00:00,2022-11-12 00:00:00,2022-11-13 00:00:00,2022-11-14 00:00:00
형제,첫째,둘째,셋째,넷째,다섯째

In [339]:
file_path = "C:/Users/PiGiraffe0/Documents/SQL/data/pandas/booklist_json.json"

with open(file_path, 'r' , encoding="UTF-8") as file:
    data = json.load(file)
    print(type(data))
    print(data)

<class 'list'>
[{'bookName': '나는 꼭 필요한 것만 남기기로 했다', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7269609529'}, {'bookName': '파이썬과 대스크를 활용한 고성능 데이터 분석', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4595034178'}, {'bookName': '웹어셈블리 인 액션', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5654500071'}, {'bookName': '쉽게 배워 바로 써먹는 디자인 패턴', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9696096335'}, {'bookName': '부의 원칙', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1303121763'}, {'bookName': '만들면서 배우는 픽셀 아트', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8144473464'}, {'bookName': '초보자를 위한 언리얼 엔진 4 입문', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4792640793'}, {'bookName': '분산원장 기술', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2916452728'}, {'bookName': '회사에서 바로 통하는 3ds Max + V-Ray', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2172775594'}, {'bookName': '재미있고 빠른 한글 쓰기 3권 : 교과서 쉬운 낱말', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8764310258'}, {'bookName': '나도 초록 식물 잘 키우면 소원이 없겠네', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9058586817'}, {'bookName': 'IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B6503201303'}, {'bookName': 'GAN 인 액션', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3137824436'}, {'bookName': '재미있고 빠른 어휘력 동화 – 아지랑이가 뭐야?', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1967812795'}, {'bookName': '재미있고 빠른 어휘력 동화 – 많다의 반대가 뭐야?', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2728411076'}, {'bookName': '만화로 보는 바빌론 부자들의 돈 버는 지혜', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8115627505'}, {'bookName': '포르잔 C++ 바이블', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1851418066'}, {'bookName': '청소년 인문학 수업 - 1권', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9143267027'}, {'bookName': '청소년 인문학 수업 - 2권', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3517216657'}, {'bookName': '처음 시작하는 파이썬&#40;2판&#41;', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4872223435'}, {'bookName': '퀀트 전략을 위한 인공지능 트레이딩', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1740090592'}, {'bookName': '처음 시작하는 딥러닝', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B6787201225'}, {'bookName': '회사에서 바로 통하는 실무 엑셀 매크로&VBA', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2672932319'}, {'bookName': '게임 오버', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9279330130'}, {'bookName': '초소형 머신러닝 TinyML', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3963656224'}, {'bookName': '오늘도 뇌는 거짓말을 한다', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3872657116'}, {'bookName': '허팝만 따라 해봐! 유튜브 정석', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8226621719'}, {'bookName': '이것이 취업을 위한 코딩 테스트다 with 파이썬', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8945183661'}, {'bookName': '딥러닝을 위한 선형대수학', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9479195027'}, {'bookName': '유닉스의 탄생', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8460934222'}, {'bookName': '회사에서 바로 통하는  오토캐드 AutoCAD 2021', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1191734987'}, {'bookName': 'IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습&#40;2판&#41;', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2082711299'}, {'bookName': '별, 걔 다 그립네', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5877288702'}, {'bookName': '대학을 버려야 대학이 산다', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1825116777'}, {'bookName': 'IT CookBook, 따라 하면서 배우는 사물인터넷', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5937482728'}, {'bookName': '재미있고 빠른 첫 한글 준비 선 긋기1권 직선∙곡선∙자음∙모음', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5555860904'}, {'bookName': '재미있고 빠른 첫 한글 4권 쌍자음∙받침', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3397547488'}, {'bookName': '핸즈온 비지도 학습', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7126889829'}, {'bookName': '재미있고 빠른 첫 한글 쓰기1권 모음∙자음∙쉬운 낱말', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7448405310'}, {'bookName': '우리 아이 처음 놀이', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8656803901'}, {'bookName': '미라클 모닝 기적의 공식&#40;개정판&#41;', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9697194640'}, {'bookName': '창의적 공학설계&#40;3판&#41;', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8573612142'}, {'bookName': 'R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8404138031'}, {'bookName': '공학 핵심수학&#40;2판&#41;  : 기초부터 심화까지 핵심만 쏙쏙', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8658821149'}, {'bookName': '응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7926921440'}, {'bookName': '파이썬 증권 데이터 분석', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7026921929'}, {'bookName': '나의 첫 파이썬&#40;2판&#41;', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3745711486'}, {'bookName': '나는 왜 네 말이 힘들까', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7748014142'}, {'bookName': '혼자 공부하는 첫 프로그래밍 with 파이썬', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9609283195'}, {'bookName': '퇴근길 인문학 수업 : 뉴노멀', 'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7346049104'}]

In [340]:
data

[{'bookName': '나는 꼭 필요한 것만 남기기로 했다',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7269609529'},
 {'bookName': '파이썬과 대스크를 활용한 고성능 데이터 분석',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4595034178'},
 {'bookName': '웹어셈블리 인 액션',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5654500071'},
 {'bookName': '쉽게 배워 바로 써먹는 디자인 패턴',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9696096335'},
 {'bookName': '부의 원칙',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1303121763'},
 {'bookName': '만들면서 배우는 픽셀 아트',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8144473464'},
 {'bookName': '초보자를 위한 언리얼 엔진 4 입문',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4792640793'},
 {'bookName': '분산원장 기술',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2916452728'},
 {'bookName': '회사에서 바로 통하는 3ds Max + V-Ray',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2172775594'},
 {'bookName': '재미있고 빠른 한글 쓰기 3권 : 교과서 쉬운 낱말',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8764310258'},
 {'bookName': '나도 초록 식물 잘 키우면 소원이 없겠네',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9058586817'},
 {'bookName': 'IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B6503201303'},
 {'bookName': 'GAN 인 액션',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3137824436'},
 {'bookName': '재미있고 빠른 어휘력 동화 – 아지랑이가 뭐야?',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1967812795'},
 {'bookName': '재미있고 빠른 어휘력 동화 – 많다의 반대가 뭐야?',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2728411076'},
 {'bookName': '만화로 보는 바빌론 부자들의 돈 버는 지혜',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8115627505'},
 {'bookName': '포르잔 C++ 바이블',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1851418066'},
 {'bookName': '청소년 인문학 수업 - 1권',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9143267027'},
 {'bookName': '청소년 인문학 수업 - 2권',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3517216657'},
 {'bookName': '처음 시작하는 파이썬&#40;2판&#41;',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B4872223435'},
 {'bookName': '퀀트 전략을 위한 인공지능 트레이딩',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1740090592'},
 {'bookName': '처음 시작하는 딥러닝',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B6787201225'},
 {'bookName': '회사에서 바로 통하는 실무 엑셀 매크로&VBA',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2672932319'},
 {'bookName': '게임 오버',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9279330130'},
 {'bookName': '초소형 머신러닝 TinyML',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3963656224'},
 {'bookName': '오늘도 뇌는 거짓말을 한다',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3872657116'},
 {'bookName': '허팝만 따라 해봐! 유튜브 정석',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8226621719'},
 {'bookName': '이것이 취업을 위한 코딩 테스트다 with 파이썬',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8945183661'},
 {'bookName': '딥러닝을 위한 선형대수학',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9479195027'},
 {'bookName': '유닉스의 탄생',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8460934222'},
 {'bookName': '회사에서 바로 통하는  오토캐드 AutoCAD 2021',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1191734987'},
 {'bookName': 'IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습&#40;2판&#41;',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B2082711299'},
 {'bookName': '별, 걔 다 그립네',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5877288702'},
 {'bookName': '대학을 버려야 대학이 산다',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B1825116777'},
 {'bookName': 'IT CookBook, 따라 하면서 배우는 사물인터넷',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5937482728'},
 {'bookName': '재미있고 빠른 첫 한글 준비 선 긋기1권 직선∙곡선∙자음∙모음',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B5555860904'},
 {'bookName': '재미있고 빠른 첫 한글 4권 쌍자음∙받침',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3397547488'},
 {'bookName': '핸즈온 비지도 학습',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7126889829'},
 {'bookName': '재미있고 빠른 첫 한글 쓰기1권 모음∙자음∙쉬운 낱말',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7448405310'},
 {'bookName': '우리 아이 처음 놀이',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8656803901'},
 {'bookName': '미라클 모닝 기적의 공식&#40;개정판&#41;',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9697194640'},
 {'bookName': '창의적 공학설계&#40;3판&#41;',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8573612142'},
 {'bookName': 'R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8404138031'},
 {'bookName': '공학 핵심수학&#40;2판&#41;  : 기초부터 심화까지 핵심만 쏙쏙',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B8658821149'},
 {'bookName': '응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7926921440'},
 {'bookName': '파이썬 증권 데이터 분석',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7026921929'},
 {'bookName': '나의 첫 파이썬&#40;2판&#41;',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B3745711486'},
 {'bookName': '나는 왜 네 말이 힘들까',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7748014142'},
 {'bookName': '혼자 공부하는 첫 프로그래밍 with 파이썬',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B9609283195'},
 {'bookName': '퇴근길 인문학 수업 : 뉴노멀',
  'link': 'http://www.hanbit.co.kr/store/books/look.php?p_code=B7346049104'}]

In [338]:
pb_02_df = pd.DataFrame(data)
pb_02_df.rename(columns = {'bookName' : '책 이름' , 'link' : '주소'} , inplace = True)
pb_02_df

,책 이름,주소
0,나는 꼭 필요한 것만 남기기로 했다,http://www.hanbit.co.kr/store/books/look.php?p...
1,파이썬과 대스크를 활용한 고성능 데이터 분석,http://www.hanbit.co.kr/store/books/look.php?p...
2,웹어셈블리 인 액션,http://www.hanbit.co.kr/store/books/look.php?p...
3,쉽게 배워 바로 써먹는 디자인 패턴,http://www.hanbit.co.kr/store/books/look.php?p...
4,부의 원칙,http://www.hanbit.co.kr/store/books/look.php?p...
5,만들면서 배우는 픽셀 아트,http://www.hanbit.co.kr/store/books/look.php?p...
6,초보자를 위한 언리얼 엔진 4 입문,http://www.hanbit.co.kr/store/books/look.php?p...
7,분산원장 기술,http://www.hanbit.co.kr/store/books/look.php?p...
8,회사에서 바로 통하는 3ds Max + V-Ray,http://www.hanbit.co.kr/store/books/look.php?p...
9,재미있고 빠른 한글 쓰기 3권 : 교과서 쉬운 낱말,http://www.hanbit.co.kr/store/books/look.php?p...
10,나도 초록 식물 잘 키우면 소원이 없겠네,http://www.hanbit.co.kr/store/books/look.php?p...
11,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",http://www.hanbit.co.kr/store/books/look.php?p...
12,GAN 인 액션,http://www.hanbit.co.kr/store/books/look.php?p...
13,재미있고 빠른 어휘력 동화 – 아지랑이가 뭐야?,http://www.hanbit.co.kr/store/books/look.php?p...
14,재미있고 빠른 어휘력 동화 – 많다의 반대가 뭐야?,http://www.hanbit.co.kr/store/books/look.php?p...
15,만화로 보는 바빌론 부자들의 돈 버는 지혜,http://www.hanbit.co.kr/store/books/look.php?p...
16,포르잔 C++ 바이블,http://www.hanbit.co.kr/store/books/look.php?p...
17,청소년 인문학 수업 - 1권,http://www.hanbit.co.kr/store/books/look.php?p...
18,청소년 인문학 수업 - 2권,http://www.hanbit.co.kr/store/books/look.php?p...
19,처음 시작하는 파이썬&#40;2판&#41;,http://www.hanbit.co.kr/store/books/look.php?p...
20,퀀트 전략을 위한 인공지능 트레이딩,http://www.hanbit.co.kr/store/books/look.php?p...
21,처음 시작하는 딥러닝,http://www.hanbit.co.kr/store/books/look.php?p...
22,회사에서 바로 통하는 실무 엑셀 매크로&VBA,http://www.hanbit.co.kr/store/books/look.php?p...
23,게임 오버,http://www.hanbit.co.kr/store/books/look.php?p...
24,초소형 머신러닝 TinyML,http://www.hanbit.co.kr/store/books/look.php?p...
25,오늘도 뇌는 거짓말을 한다,http://www.hanbit.co.kr/store/books/look.php?p...
26,허팝만 따라 해봐! 유튜브 정석,http://www.hanbit.co.kr/store/books/look.php?p...
27,이것이 취업을 위한 코딩 테스트다 with 파이썬,http://www.hanbit.co.kr/store/books/look.php?p...
28,딥러닝을 위한 선형대수학,http://www.hanbit.co.kr/store/books/look.php?p...
29,유닉스의 탄생,http://www.hanbit.co.kr/store/books/look.php?p...
30,회사에서 바로 통하는 오토캐드 AutoCAD 2021,http://www.hanbit.co.kr/store/books/look.php?p...
31,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습&#40;2판&#41;",http://www.hanbit.co.kr/store/books/look.php?p...
32,"별, 걔 다 그립네",http://www.hanbit.co.kr/store/books/look.php?p...
33,대학을 버려야 대학이 산다,http://www.hanbit.co.kr/store/books/look.php?p...
34,"IT CookBook, 따라 하면서 배우는 사물인터넷",http://www.hanbit.co.kr/store/books/look.php?p...
35,재미있고 빠른 첫 한글 준비 선 긋기1권 직선∙곡선∙자음∙모음,http://www.hanbit.co.kr/store/books/look.php?p...
36,재미있고 빠른 첫 한글 4권 쌍자음∙받침,http://www.hanbit.co.kr/store/books/look.php?p...
37,핸즈온 비지도 학습,http://www.hanbit.co.kr/store/books/look.php?p...
38,재미있고 빠른 첫 한글 쓰기1권 모음∙자음∙쉬운 낱말,http://www.hanbit.co.kr/store/books/look.php?p...
39,우리 아이 처음 놀이,http://www.hanbit.co.kr/store/books/look.php?p...
40,미라클 모닝 기적의 공식&#40;개정판&#41;,http://www.hanbit.co.kr/store/books/look.php?p...
41,창의적 공학설계&#40;3판&#41;,http://www.hanbit.co.kr/store/books/look.php?p...
42,R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,http://www.hanbit.co.kr/store/books/look.php?p...
43,공학 핵심수학&#40;2판&#41; : 기초부터 심화까지 핵심만 쏙쏙,http://www.hanbit.co.kr/store/books/look.php?p...
44,응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,http://www.hanbit.co.kr/store/books/look.php?p...
45,파이썬 증권 데이터 분석,http://www.hanbit.co.kr/store/books/look.php?p...
46,나의 첫 파이썬&#40;2판&#41;,http://www.hanbit.co.kr/store/books/look.php?p...
47,나는 왜 네 말이 힘들까,http://www.hanbit.co.kr/store/books/look.php?p...
48,혼자 공부하는 첫 프로그래밍 with 파이썬,http://www.hanbit.co.kr/store/books/look.php?p...
49,퇴근길 인문학 수업 : 뉴노멀,http://www.hanbit.co.kr/store/books/look.php?p...