In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import json

import warnings
warnings.filterwarnings("ignore")

print('numpy version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

def seriesinfo(s) :
    print('index - ' , s.index , type(s.index))
    print('value - ' , s.values , type(s.values))
    print()
    print('data - ')
    print(s)
    
def frminfo(df) :
    print('shape     - ' , df.shape)
    print('size      - ' , df.size)
    print('ndim      - ' , df.ndim )
    print('index     - ' , df.index   , type(df.index))
    print('col index - ' , df.columns , type(df.columns))
    print('values    - ')
    print(df.values  , '\n' , type(df.values))
    print()
    print('data - ')
    display(df)

numpy version -  1.21.5
pandas version -  1.4.4

- 기사 원문 : https://www.news1.kr/articles/?1911504

In [16]:
# encoding = 'utf-8 cp949 euc-kr'
seoul_crime_frm = pd.read_csv('C:/Users/PiGiraffe0/Documents/SQL/data/test/service_data_crime_in_seoul.csv' , encoding = 'cp949')
seoul_crime_frm.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861

In [17]:
seoul_crime_frm.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861

In [11]:
# conda install googlemaps
import googlemaps

In [13]:
gmaps = googlemaps.Client(key = 'AIzaSyBQy1nRN8F9UbiMiWRagzHdhsyy5Dc8dv0')
gmaps

In [18]:
gmaps.geocode('중부서' , language = 'ko')

[{'address_components': [{'long_name': '２７',
    'short_name': '２７',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 수표로 27',
  'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5649660802915,
     'lng': 126.9910006802915},
    'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
  'partial_match': True,
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+CV'},
  'types': ['establishment', 'point_of_interest', 'police']}]