#### 학습목표
- 분석하려는 데이터는 대부분 .csv 파일을 테이블 형식으로 처리할 수 있는 타입
- 제공되는 2 type : Series , DataFrame
- Series : index + value

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

print('numpy version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy version -  1.21.5
pandas version -  1.4.4

In [6]:
def seriesinfo(s) :
    print('index - ' , s.index , type(s.index))
    print('value - ' , s.values , type(s.values))
    print()
    print('data - ')
    print(s)

In [10]:
s = pd.Series([1,2,3,4,5] , dtype = float)
seriesinfo(s)

index -  RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
value -  [1. 2. 3. 4. 5.] <class 'numpy.ndarray'>

data -
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [11]:
s = pd.Series({'a' : 1,'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5} , dtype = float)
seriesinfo(s)

index -  Index(['a', 'b', 'c', 'd', 'e'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [1. 2. 3. 4. 5.] <class 'numpy.ndarray'>

data -
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

- 인덱스의 라벨은 정수 , 문자 , 날짜 , 시간

In [15]:
s = pd.Series([1,2,3,4,5] , index = ['강남' , '서초' , '방배' , '동작' , '신도림']) 
seriesinfo(s)

index -  Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [1 2 3 4 5] <class 'numpy.ndarray'>

data -
강남     1
서초     2
방배     3
동작     4
신도림    5
dtype: int64

- name :시리즈 데이터에 이름을 부여해주는 역할
- index.name : 시리즈 인덱스에 이름을 부여해주는 역할

In [19]:
s.name = '데이터의 이름 부여'
s.index.name = '구 구별'
seriesinfo(s)

index -  Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object', name='구 구별') <class 'pandas.core.indexes.base.Index'>
value -  [1 2 3 4 5] <class 'numpy.ndarray'>

data -
구 구별
강남     1
서초     2
방배     3
동작     4
신도림    5
Name: 데이터의 이름 부여, dtype: int64

In [22]:
tmp_data = ('섭섭해' , '2022-11-10' , '남자' , True)
s = pd.Series(tmp_data , dtype = object , index = ['이름' , '날짜' , '성별' , '결혼'])

seriesinfo(s)

index -  Index(['이름', '날짜', '성별', '결혼'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  ['섭섭해' '2022-11-10' '남자' True] <class 'numpy.ndarray'>

data -
이름           섭섭해
날짜    2022-11-10
성별            남자
결혼          True
dtype: object

- series 에서 원소를 선택하기 위해선?
- 정수형 위치 인덱스 또는 인덱스 이름을 활용해야 한다
- 여러 원소를 선택하려면 리스트를 활용하면 된다.

In [32]:
print('정수 인덱싱 - ' , s[0] , type(s[0]))
print('인덱스 이름 - ' , s['이름'] , type(s['이름']))
print()
print(s[[0,1]])
print(s[['이름' , '날짜']])
print()
print('범위지정 - slicing')
print(s['이름' : '성별'])
print(s[0:3])

정수 인덱싱 -  섭섭해 <class 'str'>
인덱스 이름 -  섭섭해 <class 'str'>

이름           섭섭해
날짜    2022-11-10
dtype: object
이름           섭섭해
날짜    2022-11-10
dtype: object

범위지정 - slicing
이름           섭섭해
날짜    2022-11-10
성별            남자
dtype: object
이름           섭섭해
날짜    2022-11-10
성별            남자
dtype: object

In [37]:
for idx , value in s.items() :
    print('idx : {} , value : {}'.format(idx,value))
print()
for idx in s.keys() :
    print('idx : {}'.format(idx))
print()
for value in s.values :
    print('value : {}'.format(value))

idx : 이름 , value : 섭섭해
idx : 날짜 , value : 2022-11-10
idx : 성별 , value : 남자
idx : 결혼 , value : True

idx : 이름
idx : 날짜
idx : 성별
idx : 결혼

value : 섭섭해
value : 2022-11-10
value : 남자
value : True

In [39]:
s.index

Index(['이름', '날짜', '성별', '결혼'], dtype='object')

In [41]:
s.values

array(['섭섭해', '2022-11-10', '남자', True], dtype=object)

In [42]:
s = pd.Series(range(10,21))
seriesinfo(s)

index -  RangeIndex(start=0, stop=11, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
value -  [10 11 12 13 14 15 16 17 18 19 20] <class 'numpy.ndarray'>

data -
0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [46]:
print('시리즈의 데이터는 배열이므로 벡터화 연산이 가능하다 - ')
s * 20

시리즈의 데이터는 배열이므로 벡터화 연산이 가능하다 -

0     200
1     220
2     240
3     260
4     280
5     300
6     320
7     340
8     360
9     380
10    400
dtype: int64

In [50]:
print('2의 배수인 것만 추출')
print('boolean indexing : s%2 == 0')
s[s%2 == 0]

2의 배수인 것만 추출
boolean indexing : s%2 == 0

0     10
2     12
4     14
6     16
8     18
10    20
dtype: int64

In [52]:
from datetime import date, datetime , timedelta
from dateutil.parser import parse

In [82]:
day = datetime(2022 , 11 , 10)
print(day + timedelta(days=1))

2022-11-11 00:00:00

- 평균이 50이고 편차 5 정규분포 데이터를 10일간 만들고 싶다면 ?
- 중요

In [76]:
np.random.normal(50 , 5 , (10 ,))

array([46.57477405, 59.4368751 , 47.67698661, 47.91236568, 41.50774408,
       50.08764566, 50.71283465, 48.78815311, 48.79192872, 49.81481273])

In [77]:
np.random.normal(50 , 5 , (10 , 1))

array([[46.34495879],
       [47.03932974],
       [53.35922493],
       [50.08834691],
       [47.84602155],
       [50.4639965 ],
       [49.49136102],
       [51.53274354],
       [52.85910903],
       [45.29457627]])

- 날짜 순으로 위의 값이 들어간 series 만들기

- 평균이 50이고 편차가 5인 정규분포 데이터를 10일간 만들고 싶다면?
- 평균이 70이고 편차가 8인 정규분포 데이터를 10일간 만들고 싶다면?

In [86]:
pd.Series(np.random.normal(50 , 5 , (10 ,)) , index = [day+timedelta(days=i) for i in range(10)])

2022-11-10    41.528639
2022-11-11    45.842026
2022-11-12    53.039328
2022-11-13    48.809060
2022-11-14    45.521821
2022-11-15    50.313178
2022-11-16    51.982133
2022-11-17    56.601471
2022-11-18    56.801893
2022-11-19    51.684858
dtype: float64

In [87]:
pd.Series(np.random.normal(70 , 8 , (10 ,)) , index = [day+timedelta(days=i) for i in range(10)])

2022-11-10    61.467209
2022-11-11    77.991140
2022-11-12    63.904730
2022-11-13    77.644890
2022-11-14    58.695180
2022-11-15    61.116349
2022-11-16    73.955033
2022-11-17    71.009513
2022-11-18    64.891277
2022-11-19    73.778578
dtype: float64

- 데이터 갱신

In [93]:
price_series = pd.Series([4000 , 3000 , 3500 , 2000] ,
                        index = ['a' , 'b' , 'c' , 'd'])
seriesinfo(price_series)

index -  Index(['a', 'b', 'c', 'd'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [4000 3000 3500 2000] <class 'numpy.ndarray'>

data -
a    4000
b    3000
c    3500
d    2000
dtype: int64

In [97]:
# 데이터 변경
price_series[0] = 5000
price_series
print()
price_series['a'] = 6000
price_series

a    6000
b    3000
c    3500
d    2000
dtype: int64

- 데이터 삭제
- del

In [104]:
# 데이터 추가
price_series['e'] = 9000
price_series

# 데이터 삭제
del price_series['e']
price_series

a    6000
b    3000
c    3500
d    2000
dtype: int64

In [107]:
# 결측값
price_series['e'] = np.NaN
seriesinfo(price_series)

index -  Index(['a', 'b', 'c', 'd', 'e'], dtype='object') <class 'pandas.core.indexes.base.Index'>
value -  [6000. 3000. 3500. 2000.   nan] <class 'numpy.ndarray'>

data -
a    6000.0
b    3000.0
c    3500.0
d    2000.0
e       NaN
dtype: float64

In [110]:
# 결측값 여부 확인
print('isnull - ')
print()
print(pd.isnull(price_series))
print()
print(price_series[pd.isnull(price_series)]) 
print()
print(price_series[ price_series.isnull()])
print()

# 결측값이 아닌 것 찾기
print('notnull - ')
print(price_series[price_series.notnull()])

isnull -

a    False
b    False
c    False
d    False
e     True
dtype: bool

e   NaN
dtype: float64

e   NaN
dtype: float64

notnull -
a    6000.0
b    3000.0
c    3500.0
d    2000.0
dtype: float64

In [111]:
series01 = pd.Series([400, 250 , 350, 500] , index = ['a' , 'o' , 'k' , 'm'])
series01

a    400
o    250
k    350
m    500
dtype: int64

In [112]:
series02 = pd.Series([401, 251 , 351, 501] , index = ['o' , 'a' , 'h' , 'm'])
series02

o    401
a    251
h    351
m    501
dtype: int64

In [124]:
# series 합치기

series03 = series01 + series02
print(series03)
print()

series03 = series01.add(series02)
print(series03)
print()

# NaN 값 채우기

series03 = series01.add(series02 , fill_value = 0)
print(series03)
print()

# 요소의 개수 세기
print('len() - ' , len(series03))

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

len() -  5

In [141]:
series04 = series01.add(series02)
print(series04)
print()

# 평균 구하기
# 결측값을 제외한 3개 값의 평균
print('mean - ' , np.mean(series03))
print('mean - ' , series03.mean())
print()

# 전체 평균
# 결측값 개수 포함 
print('mean - ' , series04.sum() / len(series04))

# fillna(data)  결측값을 'data'로 대체합니다.
# 값을 다시 담아야지만 저장이 된다.
print('filna() - ' , series04.fillna(0))
series05 = series04.fillna(0)
series05
print()

# series05(결측값에 0을 집어넣은 상태)
# 평균 구하기
print('series05')
print('mean - ' , series05.mean())
print('mean - ' , np.mean(series05))

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

mean -  767.6666666666666
mean -  767.6666666666666

mean -  460.6
filna() -  a     651.0
h       0.0
k       0.0
m    1001.0
o     651.0
dtype: float64

series05
mean -  460.6
mean -  460.6

In [160]:
# 결측값 제외하고 출력하기

print(series03)
print()
print('결측값을 제외한 subset( 추출한 데이터 )')

series05 = series03[pd.notnull(series03)]

print()
print(series05)

a     651.0
h       NaN
k       NaN
m    1001.0
o     651.0
dtype: float64

결측값을 제외한 subset( 추출한 데이터 )

a     651.0
m    1001.0
o     651.0
dtype: float64