In [1]:
import numpy as np
import pandas as pd

# 배열의 정보를 확인하기 위한 함수 정의

def aryinfo(ary) :
    print('type      - ' , type(ary))
    print('shape     - ' , ary.shape)
    print('dimension - ' , ary.ndim)
    print('dtype     - ' , ary.dtype)
    print()
    print('data - ')
    print(ary)

#### 1번 문제

In [3]:
# 데이터 가져오기
ratings_data = np.loadtxt('C:/Users/a/Documents/SQL/data/numpy/ratings.dat' , dtype='U' , skiprows=1 , delimiter = '::')
aryinfo(ratings_data)

type      -  <class 'numpy.ndarray'>
shape     -  (1000209, 4)
dimension -  2
dtype     -  <U10

data -
[['1' '1193' '5' '978300760']
 ['1' '661' '3' '978302109']
 ['1' '914' '3' '978301968']
 ...
 ['6040' '562' '5' '956704746']
 ['6040' '1096' '4' '956715648']
 ['6040' '1097' '4' '956715569']]

In [ ]:
# 2 데이터의 첫 5행만 확인
ratings_data[ : 5]

In [ ]:
# 3 데이터의 형태 확인
# type(ary) , ary.shape , ary.ndim , ary.dtype
aryinfo(ratings_data)

In [ ]:
# 4 전체 평균 평점 계산
ratings_data[: , 2]
# 형변환
point = ratings_data[:,2].astype('float')
point_mean = point.mean()
print('answer - ' , round(point_mean , 2))

In [ ]:
# 5 사용자 아이디 수집
user_ids = ratings_data[ : , 0]
user_ids

In [ ]:
# 6 사용자별 평점 확인을 위한 코드 구문 작성
value = 1
avg_id = []
answer = []
result = np.zeros_like(np.arange(1, 6041))
num = 0
for user_id , index in zip(user_ids , range(len(ratings_data)))  :
    if user_id.astype(int) == value :           
        avg_id.append(ratings_data[index , 2].astype(int))
        mean = round(sum(avg_id)/len(avg_id) ,2)
        if index == 1000208 :
            num = num + 1
            print('id - {}의 평균평점은 {}입니다.'.format(num , mean))
            answer.append([num , mean])
            print(index)
    else :
        num = num + 1
        print('id - {}의 평균평점은 {}입니다.'.format(num , mean))    
        answer.append([num , mean])
        # print(answer)
        mean = None
        avg_id = []
        value = value + 1
        
        
#     else :
#         value = value + 1
#         num = num+1

In [ ]:
# answer 리스트를 score 배열로 변환
# 배열로 변환 후, 평점이 4보다 큰 데이터를 boolean 단위로 반환

score = np.array(answer)
score[: , 1] > 4.0

In [ ]:
# score_over_4 생성
score_over_4= score[score[: , 1] > 4.0]
score_over_4

In [ ]:
# score_over_4 저장하기 평점이 4점 이상인 데이터 
# np.savetxt('C:/Users/PiGiraffe0/Documents/SQL\data/numpy/score.csv' , score_over_4 , delimiter=',' , fmt = '%.1f' )

#### 2번 문제

In [4]:
seoul_data = np.loadtxt('C:/Users/a/Documents/SQL/data/numpy/seoul.csv' , dtype='U' 
                        , skiprows=8 ,delimiter=',')
seoul_data

array([['1907-10-01', '108', '13.5', '7.9', '20.7'],
       ['1907-10-02', '108', '16.2', '7.9', '22'],
       ['1907-10-03', '108', '16.2', '13.1', '21.3'],
       ...,
       ['2020-09-04', '108', '23.3', '19.9', '27.5'],
       ['2020-09-05', '108', '23.3', '19.2', '27.3'],
       ['2020-09-06', '108', '21.7', '19.5', '24.4']], dtype='<U10')

In [5]:
daegu_data = np.loadtxt('C:/Users/a/Documents/SQL/data/numpy/daegu.csv' , dtype='U' 
                        , skiprows=8 ,delimiter=',')
daegu_data

array([['1907-01-31', '143', '', '-7', '0.8'],
       ['1907-02-01', '143', '', '', ''],
       ['1907-02-02', '143', '', '', ''],
       ...,
       ['2020-09-04', '143', '24.1', '18.3', '30.4'],
       ['2020-09-05', '143', '19.9', '17.3', '23.1'],
       ['2020-09-06', '143', '19.5', '17.6', '20.7']], dtype='<U10')

In [ ]:
# 1 기상 관측 아래, 서울의 최고 기온이 가장 높았던 날은 언제였고, 몇 도 였나?
aryinfo(seoul_data)
seoul = np.nan_to_num(seoul_data)
print(seoul)
for index in range(len(seoul)) :
    if seoul[index , 4] == '' :
        #print('none')
        seoul[index , 4 ] = '20'

# for index in range(len(seoul)) :
#     if seoul[index , 4] == '' :
#         print('none?')
#     else :
#         print('ok' , index)

seoul_max = seoul[:,4].astype(float).max()
print()
print('max_temp ' , seoul_max)
temp = seoul[:,4].astype(float)
answer = seoul[np.argsort(temp)[::-1]][0 , :]
answer
        
print('{}이 최고기온 {}도로 가장 높았습니다.' .format(answer[0] , answer[4]))

In [ ]:
# 2 역사적으로 일교차가 가장 큰 날짜는 몇 년 몇 월 몇 일 인가요?
seoul = np.nan_to_num(seoul_data)
daegu = np.nan_to_num(daegu_data)
# 결측값 제거
for index in range(len(seoul)) :
    if seoul[index , 4] == '' :
        #print('none')
        seoul[index , 4 ] = '20'
    if seoul[index , 3] == '' :
        #print('none')
        seoul[index , 3 ] = '10'

for index in range(len(daegu)) :
    if daegu[index , 4] == '' :
        #print('none')
        daegu[index , 4 ] = '20'
    if daegu[index , 3] == '' :
        #print('none')
        daegu[index , 3 ] = '10'

In [ ]:
# 형변환
seoul[:,3].astype(float)
seoul[:,4].astype(float)
daegu[:,3].astype(float)
daegu[:,4].astype(float)

# 일교차 계산
seoul_tmp_range = seoul[:,4].astype(float)-seoul[:,3].astype(float)
daegu_tmp_range = daegu[:,4].astype(float)-daegu[:,3].astype(float)
seoul_tmp_range

In [ ]:
answer_seoul = seoul[np.argsort(seoul_tmp_range)[::-1]][0 , :]
answer_daegu = daegu[np.argsort(daegu_tmp_range)[::-1]][0 , :]
print('서울의 일교차가 가장 컸던 날은 {} 입니다.'.format(answer_seoul[0]))
print('대구의 일교차가 가장 컸던 날은 {} 입니다.'.format(answer_daegu[0]))

In [ ]:
# 3 1년 중 평균적으로 일교차가 가장 큰 날짜는 몇 월 몇 일 인가요?

In [ ]:
seoul[:,0]

In [ ]:
# 날짜의 년도가 끝나는 부분 찾기
seoul[:,0][0].find('-')

In [ ]:
 seoul[:,0]

In [ ]:
# 숫자(월)은 10 11 12 01 02 03 04 05 06 07 08 09 순서로 진행
# 숫자(일)은 10 11 12 ... 31 01... 07 08 09 순서로 진행
# 10-10일 부터 09-09 까지, 전체 연도별 평균 : 각 날마다의 일교차 계산
# 데이터 저장 :  [['일교차' , '날짜'] , ['일교차' , '날짜'] ....]

lst = []
value = 0
date = []
for m in ['10','11','12','01','02','03','04','05','06','07','08','09']:
    for d in ['10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','01','02','03','04','05','06','07','08','09'] :
        for i in range(len(seoul)) :
            if str(str(m)+'-'+str(d)) == seoul[:,0][i][5:] :
                lst.append(round(seoul[:,4][i].astype(float)-seoul[:,3][i].astype(float),2))
            elif i == len(seoul)-1 :
                if len(lst) != 0 :
                    lst = round(sum(lst)/len(lst),2)
                    date.append([lst , str(str(m)+'-'+str(d))])
#             lst = sum(lst)/len(lst)
#             date.append([lst , seoul[:,0][i][5:]])
#             lst=[]
#             print(date)
        
        print(date)
        print('초기화')
        lst = []

In [ ]:
# 배열로 바꾸기

date_tem_high = np.array(date)

# 일교차가 가장 큰 날짜 확인
answer = date_tem_high[np.argsort(date_tem_high[: , 0].astype(float))[::-1]][0]
print(answer)
# 출력 
print('1년 중 평균적으로 일교차가 가장 큰 날짜는 온도가 {}도 이고, 날짜는 {} 입니다.'.format(answer[0] , answer[1]))

In [ ]:
# 온도 비교 코드
# 길이(len) 확인용 코드
seoul[:,4][i].astype(float)-seoul[:,3][i].astype(float)
print(i)

In [ ]:
# 4 가장 덥다고 알려진 대구보다 서울이 더 더운날이 가장 많은 연도는?

In [ ]:
# 서울과 대구 최고 기온 데이터 확인

aryinfo(seoul[:,4]) 
print()
aryinfo(daegu[:,4])

In [ ]:
# 결측값에 20이 대신 들어간 데이터는 제외하고서 서울의 기온이 대구보다 높았던 날을(개수) 찾습니다.
# [[서울이 더 더운 날(단위 : 개) , 년도] , [서울이 더 더운 날(단위 : 개) , 년도] ...]
count = 0
lst_num = []
for year in range(1907,2021) :    
    for index in range(len(seoul)):     
        if seoul[index,0][:4] == str(year) :
            for index2 in range(len(daegu)) :
                if seoul[index,0] == daegu[index2,0] and seoul[index,4] > daegu[index2,4] and daegu[index2,4] != '20':
                    count = count + 1
        elif index == len(seoul)-1 :
            lst_num.append([count , year])
            count = 0
            print(lst_num)

In [ ]:
# more_hot 배열로 변환하기
# 대구보다 서울의 기온이 더 높았던 날이 많은 해 구하기
more_hot = np.array(lst_num)
more_hot[np.argsort(more_hot[:,0])[::-1]][0][1]

print('서울의 기온이 더 높았던 날이 많은 해 : ' , more_hot[np.argsort(more_hot[:,0])[::-1]][:2,1])

In [ ]:
more_hot[np.argsort(more_hot[:,0])[::-1]][:2]