In [1]:
import pandas as pd
import numpy as np

#### single_04의 2017년 2021년 성, 연령별 데이터를 불러옵니다.
- 해당 데이터는 한 컬럼에 남자 여자 총계가 섞여있으므로 데이터를 분류하기 위해 아래와 같은 boolean 값을 갖는 series를 생성합니다.

In [19]:
df_b = pd.read_excel('C:/Users/PiGiraffe0/Documents/SQL/semi_project/data/single_04.xlsx')
data_m = df_b[['성별']] == '남자'
data_w = df_b[['성별']] == '여자'
data_a = df_b[['성별']] == '계'

#### 분류한 데이터를 서로 다른 series로 저장하기 위해 아래와 같은 코드를 짭니다.
- for 문 : 가져온  series (boolean값을 가진) 데이터를 한 행씩 값을 가져와 if 문을 통해 몇 번 index가 True인지를 확인합니다.
- 이후 리스트에 저장하여 원본 dataframe을 불러들여 리스트에 저장된 index번호를 호출합니다.
- 칼럼의 이름을 변경하고 마지막으로 index 정렬을 위해 reset_index(drop=True, inplace=False)를 사용합니다.

In [3]:
def classify_column(dataframe , series) :
    lst_series = []
    
    for i in range(51) :
        is_series = series.loc[i].bool()
        if is_series :
            lst_series.append(i)
    
    series_gender_data = dataframe.loc[lst_series]
    series_gender_data = series_gender_data.rename(columns = {
        '성별' : 'gender' , '연령별' : 'age' , 2017 : '2017' , 2021 : '2021' })
    series_gender_data = series_gender_data.reset_index(drop  = True , inplace = False)
    return series_gender_data

In [4]:
gender_w   = classify_column(df_b , data_w)
gender_m   = classify_column(df_b , data_m)
gender_all = classify_column(df_b , data_a)

In [5]:
# 확인 
gender_m

   gender     age     2017     2021
0      남자      합계  2791849  3583770
1      남자   15세미만       25       24
2      남자  15~19세    29083    24991
3      남자  20~24세   183578   217737
4      남자  25~29세   333886   480989
5      남자  30~34세   330699   446721
6      남자  35~39세   290387   335937
7      남자  40~44세   260789   299797
8      남자  45~49세   284359   303753
9      남자  50~54세   257573   327702
10     남자  55~59세   265621   309288
11     남자  60~64세   198975   306578
12     남자  65~69세   133121   214596
13     남자  70~74세    88332   132061
14     남자  75~79세    71059    85037
15     남자  80~84세    41382    59133
16     남자  85세 이상    22980    39426

#### 데이터 정리
- dictonary를 생성하여 gender 데이터의 16가지로 분류되어있는 데이터를 필터링하여 값을 넣어줍니다.
- DataFrame(dict_value , index = [index_in]) 여기서 index_in 부분은 index 이름을 짓는 부분입니다.

In [6]:
def to_extract(series , year) :
    from pandas import Series, DataFrame
    index_in = input('인덱스에 들어갈 문자를 입력하세요 : \n' )
    dict_value = { 
        '19세 이하' : series.loc[1:2].sum(axis=0)[year]  ,
        '20 ~ 34세' : series.loc[3:5].sum(axis=0)[year]  ,
        '35 ~ 49세' : series.loc[6:8].sum(axis=0)[year]  ,
        '50 ~ 64세' : series.loc[9:11].sum(axis=0)[year] ,
        '65세 이상' : series.loc[11:].sum(axis=0)[year] 
         }
    df_value = DataFrame(dict_value , index = [index_in])
    return df_value

In [12]:
gender_m_2017 = to_extract(gender_m , '2017')

인덱스에 들어갈 문자를 입력하세요 :
2017년 남자

In [13]:
gender_m_2021 = to_extract(gender_m , '2021')

인덱스에 들어갈 문자를 입력하세요 :
2021년 남자

In [14]:
gender_w_2017 = to_extract(gender_w , '2017')

인덱스에 들어갈 문자를 입력하세요 :
2017년 여자

In [15]:
gender_w_2021 = to_extract(gender_w , '2021')

인덱스에 들어갈 문자를 입력하세요 :
2021년 여자

In [16]:
gender_a_2017 = to_extract(gender_all , '2017')

인덱스에 들어갈 문자를 입력하세요 :
2017년 전체

In [17]:
gender_a_2021 = to_extract(gender_all , '2021')

인덱스에 들어갈 문자를 입력하세요 :
2021년 전체

#### pd.concat([dataframe] , aex = 0) 여러개의 dataframe을 행 단위로 결합
- aex = 0 행
- aex = 1 열

In [ ]:
gender_and_year = pd.concat([gender_a_2017 , gender_a_2021 , gender_m_2017, gender_m_2021 , gender_w_2017 , gender_w_2021] , axis = 0)

In [11]:
gender_and_year

          19세 이하  20 ~ 34세  35 ~ 49세  50 ~ 64세   65세 이상
2017년 전체   61058   1478618   1314444   1393595  1816831
2021년 전체   54052   2068435   1471387   1747480  2471000
2017년 남자   29108    848163    835535    722169   555849
2021년 남자   25015   1145447    939487    943568   836831
2017년 여자   31950    630455    478909    671426  1260982
2021년 여자   29037    922988    531900    803912  1634169

In [21]:
gender_and_year.to_excel('C:/Users/PiGiraffe0/Documents/SQL/semi_project/data/gender_age_combination.xlsx')